{% include 'header.html' %}

<body>
{% with navbar=coi|stringformat:"s"|add:"/navbar.html" %} {% include navbar %} {% endwith %}
    <div class="container" style="padding-left: 0px;">
        <div class="row">
            <h1 id="logo_content" class="page-header">
                 
            </h1>
            <div class="btn-group" role="group">
                <button id="btneventDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="height:35px;">
                    通知
                    <span class="badge">{{msg_count}}</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="btneventDrop1" style="width: 300px; height: 210px; overflow: scroll;">
                    {% if msg %}
                    <div class="btn-group" style="margin-left: calc(35%)">
                        <button class="btn btn-success" onclick="AllAgree()">全部同意</button>
                        <!-- <button class="btn btn-danger" onclick="AllRefuse()">全部拒絕</button> -->
                    </div>
                    <hr>{% for m in msg %}
                    <li>
                        {% if m.Event_id.Event_leader_id == user_id.user_id and m.message_type == 0 %}
                        <p tabindex="-1" style="text-align: center;font-size: larger;">
                            {% if m.sender.nickname %} {{m.sender.nickname}} {% else %} {{m.sender.user_name}} {% endif %} 申請加入活動: {{m.Event_id.Event_name}}</p>
                        <div class="btn-group" style="margin-left: 80px">
                            <input type="checkbox" class="chk_msg" style="position:fixed; margin-left:-30px;" checked>
                            <button class="btn btn-success event_agree" onclick="ReplyApply('agree',{{m.Event_id.Event_id}},{{m.message_id}},{{m.sender.user_id}})">同意</button>
                            <button class="btn btn-danger event_refuse" onclick="ReplyApply('refuse',{{m.Event_id.Event_id}},{{m.message_id}},{{m.sender.user_id}})">拒絕</button>
                        </div>
                        {% elif m.Event_id.Event_leader_id == user_id.user_id and m.message_type == -1 %}
                        <p tabindex="-1" style="text-align: center;font-size: larger;">
                            {% if m.sender.nickname %} {{m.sender.nickname}} {% else %} {{m.sender.user_name}} {% endif %} 拒絕加入活動: {{m.Event_id.Event_name}}</p>
                        <div class="btn-group" style="margin-left: 80px">
                            <button class="btn btn-success" onclick="ReplyApply('read',{{m.Event_id.Event_id}},{{m.message_id}},{{m.sender.user_id}})">確認</button>
                        </div>
                        {% elif m.Event_id.Event_leader_id != user_id.user_id and m.message_type == 0 %}
                        <p tabindex="-1" style="text-align: center;font-size: larger;">
                            {% if m.sender.nickname %} {{m.sender.nickname}} {% else %} {{m.sender.user_name}} {% endif %} 邀請你加入活動: {{m.Event_id.Event_name}}</p>
                        <div class="btn-group" style="margin-left: 80px">
                            <input type="checkbox" class="chk_msg" style="position:fixed; margin-left:-30px;" checked>
                            <button class="btn btn-success event_agree" onclick="ReplyInvite('yes',{{m.Event_id.Event_id}},{{m.message_id}},{{m.sender.user_id}})">同意</button>
                            <button class="btn btn-danger event_refuse" onclick="ReplyInvite('no',{{m.Event_id.Event_id}},{{m.message_id}},{{m.sender.user_id}})">拒絕</button>
                        </div>
                        {% else %}
                        <p tabindex="-1" style="text-align: center;font-size: larger;">
                            {% if m.sender.nickname %} {{m.sender.nickname}} {% else %} {{m.sender.user_name}} {% endif %} 不同意你加入活動: {{m.Event_id.Event_name}}</p>
                        <div class="btn-group" style="margin-left: 80px">
                            <button class="btn btn-success" onclick="ReplyInvite('read',{{m.Event_id.Event_id}},{{m.message_id}},{{m.sender.user_id}})">確認</button>
                        </div>
                        {% endif %}
                        <input name="event_username_hidden" hidden="Ture" value="{{m.sender.user_name}}">
                        <input name="event_eventname_hidden" hidden="Ture" value="{{m.Event_id.Event_name}}">

                    </li>
                    <li class="divider"></li>
                    {% endfor %} {% else %}
                    <p id="no_msg" style="text-align: center;font-size: x-large;">無通知訊息</p>
                    {% endif %}
                </ul>
                <button id="event_search" class="btn btn-primary eventModal" data-toggle="modal" data-target="#eventModal" style="float: right; height:35px;">
                    <span class="glyphicon glyphicon-search"></span> 探索</button>
            </div>
            
        </div>
        <div class="event_show col-lg-12" style="margin-top: 20px">
            <h2  style="display: inline;">我的活動</h2>
            <img src="../static/images/question.png" data-toggle="modal" data-target="#event_info" style="display:inline;margin-bottom: 10px;margin-left: 5px;">
            <a href="/sdc/make_event" id="createEvent">
                <button id="make_event" class="btn btn-warning"  style="float: right; height:35px;">
                        <span class="glyphicon glyphicon-plus"></span> 建立活動
                </button>
            </a>
            <br>
            <br>
            <div class="event_detail">
                {% for g in event_list %}
                {% ifchanged %}
                <table class="table table-hover">
                    <tr>
                        <th>
                            <p style="color:#00F; display:inline;">{{g.Event_name}}</p>
                            {% if g.verification == 0 %}
                            <p style="color:#010; display:inline;" class="Unverified">(尚未驗證 /</p>
                            {% elif g.verification == 1 %}
                            <p style="color:#00F; display:inline;" class="verified">(已驗證通過 /</p>
                            {% else %}
                            <p style="color:#F00; display:inline;" class="Verification_Failed">(驗證不通過 /</p>
                            {% endif %} 
                            {% if g.open == 1 %}
                            <p style="color:#00F; display:inline;" class="public-2">公開</p>) {% else %}
                            <p style="color:#F00; display:inline;" class="private">不公開</p>) {% endif %} 
                            {% if g.identifier == 'leader' %}
                            
                            <button class="btn btn-danger event_diss" onclick="delete_event({{g.Event_id}})" style="float: right;">解散</button>                
                            
                            
                            
                            <a href="/sdc/manage_event/{{g.Event_id}}" class="btn btn-warning event_management" style="float: right; margin-right: 10px; height:42px;" eventId="{{g.Event_id}}"><span class="glyphicon glyphicon-cog" style="margin-top: 4px;">管理活動</span></a> 


                            {% if g.identifier == 'leader' %}
                                <div class="btn btn-warning" style="float: right; margin-right: 10px; height:42px;" onclick="document.location='/sdc/event_room/{{g.Event_id}}'"><span class="glyphicon glyphicon-cog" style="margin-top: 4px;">管理場次</span></div>
                                <button class="btn btn-info invite_modal list_event_invite" class="btn btn-info btn-lg" data-toggle="modal" data-target="#inviteModal"
                                data-id="{{g.Event_id}}" style="float: right; margin-right: 10px">
                                <span class="glyphicon glyphicon-user"></span>邀請</button>
                            {% endif %} 
                             
                            {% elif g.identifier == 'member' %}

                            <button class="btn btn-danger event_leave" onclick="leave_event({{g.Event_id}})" style="float: right;">退出</button>
                            <a href="/sdc/manage_event/{{g.Event_id}}" class="btn btn-warning event_view"  style="float: right; margin-right: 10px" eventId="{{g.Event_id}}"><span class="glyphicon glyphicon-search">查看活動</span></a> 
                            
                            {% endif %}
                        </th>
                    </tr>
                
                
                </table>
                {% endifchanged %}{% endfor %}
            </div>
        </div>
        <div id="eventModal" class="modal fade" role="dialog" style="margin-top: 300px">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <input class="modal-title" id="search_event" name="search_event" list="event_result" placeholder="Search">
                        <datalist id="event_result"></datalist>
                        <button id="apply_join" class="btn btn-success" onclick="Joinevents()">申請加入</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="inviteModal" class="modal fade" role="dialog" style="margin-top: 300px">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <input class="modal-title" id="search_member" name="search_member" list="member_result" placeholder="Search">
                        <datalist id="member_result"></datalist>
                        <button id="send_invite" class="btn btn-success" onclick="InviteFriend()">送出邀請</button>
                        <input type="text" name="modal-id" id="modal_event" hidden>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="event_info" role="dialog" style="margin-top:200px">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <b style="color: #286090">探索 - 搜尋公開且驗證通過之活動</b>
                        <br>
                        <b style="color: #46b8da">邀請 - 發出訊息邀請成員加入(DEH帳號)</b>
                        <br>
                        <b style="color: #eea236">通知 - 活動邀請(申請加入活動/組頭邀請加入活動)通知</b>
                        <ul id="event_modal-1">
                            <li>活動Leader可邀請成員進入活動</li>
                            <li>User 可建立多個活動亦可申請加入多個活動</li>
                            <li>活動Leader可解散活動</li>
                            <li>活動Member可退出活動</li>
                            <li>若活動為不公開則無法探索該活動</li>
                            <li>若活動為公開且驗證通過才可在搜尋功能查詢活動</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button id="close_info" type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="loading" hidden>
        <img src="../static/images/loading.gif" style="display: block; margin:480px 800px;">
    </div>
    <script>
        const LIST_URL = '../sdc/list_events'         //****************************原本:list_groups
        const INVITE_URL = '../sdc/ajax_event_invite'     //****************************原本:ajax_invite
    </script> {% load static %}
    <script src="{% static 'js/list_events.js' %}"></script>
</body>

</html>