{% include 'header.html' %}



<body>
    {% with navbar=coi|stringformat:"s"|add:"/navbar.html" %} {% include navbar %} {% endwith %}
    {% load index %}

    <style>
        table {
            z-index: 0;
            text-align: center;
            vertical-align: middle;
            position: relative;
            border-collapse: separate;
            border: 0px;
            table-layout: fixed;
        }
        
        td,
        th {
          padding: 0.25em;
          width: 200px;
          height: 40px;
        }
        
        thead th {
            text-align: center;
            vertical-align: middle;
            position: -webkit-sticky; /* for Safari */
            position: sticky;
            top: 0;
            background-color: #000000; color: #ffffff;
            border: 0px;
            border-right: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            padding: 0.30em;
        }
        
        thead th:first-child {
            left: 0;
            z-index: 1;
        }
        
        tbody th {
            position: -webkit-sticky; /* for Safari */
            position: sticky;
            left: 0;
            background: #FFF;
            border: 0px;
        }
    
        tbody td {
            border: 0px;
        }
        
    </style>

    <div class="container">
        <div class="row">
            <h1 id="logo_content" class="page-header">
                <!-- <img id="logo" src="/static/images/logo.png" style="padding-right: 150px;"> -->
            </h1>
            
    
            <hr>
            <ul id="choose_web" class="nav nav-tabs">
                <li class="active">
                    <a id="choose_deh" href="#deh" data-toggle="tab" style="color: black;">文史脈流</a>
                </li>
                <li>
                    <a id="choose_extn" href="#extn" data-toggle="tab" style="color: black;">校本課程</a>
                </li>
                <li>
                    <a id="choose_sdc" href="#sdc_table" data-toggle="tab" style="color: black;">踏溯台南</a>
                </li>
            </ul>
        </div>
        <br>
        <!--第二排Tab-->
        <div class="tab-content">
            <div id="deh" class="tab-pane fade in active">
                <div class="row">
                    <ul id="choose_identity" class="nav nav-tabs">
                        <li class="active">
                            <a id="chooss_all" href="#all_statics" data-toggle="tab" style="color: black;">總和統計表</a>
                        </li>
                        <li>
                            <a id="chooss_professer" href="#professer_statics" data-toggle="tab" style="color: black;">專家統計表</a>
                        </li>
                        <li>
                            <a id="chooss_player" href="#player_statics" data-toggle="tab" style="color: black;">玩家統計表</a>
                        </li>
                        <li>
                            <a id="chooss_guild" href="#guild_statics" data-toggle="tab" style="color: black;">解說員統計表</a>
                        </li>
                    </ul>
                </div>
                <!--顯示表格 P.S. style沒拉出去因為我懶-->
                <div class="tab-content">
                    <!--全部統計表-->
                    <br>
                    <div id="all_statics" class="tab-pane fade in active" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px; word-break: keep-all;white-space:nowrap;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{all_statical_deh|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--專家統計表-->
                    <div id="professer_statics" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px; word-break: keep-all;white-space:nowrap;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{expert_statical_deh|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--玩家統計表-->
                    <div id="player_statics" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px; word-break: keep-all;white-space:nowrap;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{player_statical_deh|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--解說員統計表-->
                    <div id="guild_statics" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px; word-break: keep-all;white-space:nowrap;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{docent_statical_deh|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div id="extn" class="tab-pane fade">
                <!--EXTN-->
                <div class="row">
                    <ul id="choose_identity" class="nav nav-tabs">
                        <li class="active">
                            <a id="chooss_all" href="#all_statics_extn" data-toggle="tab" style="color: black;">總和統計表</a>
                        </li>
                        <li>
                            <a id="chooss_professer" href="#professer_statics_extn" data-toggle="tab" style="color: black;">專家統計表</a>
                        </li>
                        <li>
                            <a id="chooss_player" href="#player_statics_extn" data-toggle="tab" style="color: black;">玩家統計表</a>
                        </li>
                        <li>
                            <a id="chooss_guild" href="#guild_statics_extn" data-toggle="tab" style="color: black;">解說員統計表</a>
                        </li>
                    </ul>
                </div>
                <!--顯示表格 P.S. style沒拉出去因為我懶-->
                <div class="tab-content">
                    <!--全部統計表-->
                    <br>
                    <div id="all_statics_extn" class="tab-pane fade in active" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{all_statical_extn|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--專家統計表-->
                    <div id="professer_statics_extn" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{expert_statical_extn|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--玩家統計表-->
                    <div id="player_statics_extn" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{player_statical_extn|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--解說員統計表-->
                    <div id="guild_statics_extn" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{docent_statical_extn|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="sdc_table" class="tab-pane fade">
                <!--SDC-->
                <div class="row">
                    <ul id="choose_identity" class="nav nav-tabs">
                        <li class="active">
                            <a id="chooss_all" href="#all_statics_sdc" data-toggle="tab" style="color: black;">總和統計表</a>
                        </li>
                        <li>
                            <a id="chooss_professer" href="#professer_statics_sdc" data-toggle="tab" style="color: black;">專家統計表</a>
                        </li>
                        <li>
                            <a id="chooss_player" href="#player_statics_sdc" data-toggle="tab" style="color: black;">玩家統計表</a>
                        </li>
                        <li>
                            <a id="chooss_guild" href="#guild_statics_sdc" data-toggle="tab" style="color: black;">解說員統計表</a>
                        </li>
                    </ul>
                </div>
                <!--顯示表格 P.S. style沒拉出去因為我懶-->
                <div class="tab-content">
                    <!--全部統計表-->
                    <br>
                    <div id="all_statics_sdc" class="tab-pane fade in active" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{all_statical_sdc|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--專家統計表-->
                    <div id="professer_statics_sdc" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{expert_statical_sdc|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--玩家統計表-->
                    <div id="player_statics_sdc" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{player_statical_sdc|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                    <!--解說員統計表-->
                    <div id="guild_statics_sdc" class="tab-pane fade" style="overflow:auto; height: 75vh;">
                         <table width="3150px" style="font-size: 20px;">
                            <colgroup>
                                <col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                                <col width="150px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th  style="border-top: 1px solid #ffffff; border-left: 1px solid #ffffff;"></th>
                                    {% for XTagFirstLine in X_tag_1st %}
                                        <th colspan="5" style="border-top: 1px solid #ffffff;">
                                            {{XTagFirstLine}}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th style="top: 44px; border-left: 1px solid #ffffff;"></th>
                                    {% for i in '0123'|make_list %}
                                        {% for XTagSecondLine in X_tag_2ed %}
                                            <th style="top: 44px;">
                                                {{XTagSecondLine}}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in index24 %}
                                            <tr>
                                                <th scope="row" style="background-color: #000000; color: #ffffff; text-align: center; vertical-align: middle; word-break: keep-all;white-space:nowrap; padding: 8px; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">{{Y_tag|index:i}}</th>
                                                {% for j in index20 %}
                                                    <td colspan="1" style="text-align: center; vertical-align: middle; padding: 8px; border-bottom: 1px solid #616161; border-right: 1px solid #616161;">{{docent_statical_sdc|index:i|index:j}}</td>
                                                {% endfor %}
                                            </tr>
                                {% endfor%}
                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% load static %}
    {% with js=coi|stringformat:"s"|add:"/verification.js" %}
        <script src="{% static 'js/'|add:js %}"></script>
    {% endwith %}
</body>

</html>