{% include 'header.html' %}
<html>
    {% with navbar=coi|stringformat:"s"|add:"/navbar.html" %} {% include navbar %} {% endwith %}
<body>
    <div class="container">
        <div class="col-lg-12">
            <h2 id="loi_edit-1">景線編輯</h2>
            <div id="makeLOI">
                <form id="make_loiform">
                    <div id="map_loi" class="col-lg-4" style="width:300px;height:500px;display: inline-block;"></div>
                    <div id="select_loi" class="col-lg-4" style="text-align: center; display: inline-block;height:400px; ">
                        <p id="Region-1" style="display: inline;">地區</p><br>
                        <select id="city" style="width: 150px; display:inline;">
                            <option class="sel_option-1" selected disabled hidden>請選擇</option>
                            <option value="高雄市">高雄市</option>
                            <option value="嘉義市">嘉義市</option>
                            <option value="嘉義縣">嘉義縣</option>
                            <option value="臺南市">臺南市</option>
                        </select>
                        <select id="areas" name="my_areas" style=" width: 150px; display: inline;"></select>
                        <img src="/static/images/question.png" data-toggle="modal" data-target="#subject_notes" style="display: inline;">
                        <br>
                        <div class="input-group">
                            <input type="text" class="form-control" id="filter_key">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" id="filter_btn">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <p id="poi_choose" style="background-color: #eef; text-align: center;">請選擇POI地區</p>
                        <div class="poi_detail" style="height:550px;overflow-y: scroll;">
                        </div>
                        <br>
                    </div>
                    <div id="content_loi" class="col-lg-4">
                        <div class="col-lg-12" id="loi_list" style="height: 200px;width: 400px;border:1px solid #abb; overflow-y: scroll">
                            {% for c_l in edit_seq %}
                            <div id="list{{c_l.poi_id.poi_id}}" onclick="removePoi({{c_l.poi_id.poi_id}},this);" value="{{c_l.poi_id.poi_id}}">
                                <p class="choose_order" style="display:inline;" id="choosen_id{{c_l.poi_id.poi_id}}">{{ forloop.counter }}:</p>
                                <p style="margin-botton:0px; font-size:15px;display:inline;color:#00F; " id="choosen_title{{c_l.poi_id.poi_id}}">{{c_l.poi_id.poi_title}}</p>
                                <input class="inputId" id="pid{{ forloop.counter0 }}" type="hidden" value="{{c_l.poi_id.poi_id}}" />
                                <input name="poi{{c_l.poi_id.poi_id}}" value="{{c_l.poi_id.latitude}},{{c_l.poi_id.longitude}}" type="hidden">
                                <br>
                            </div>
                            {% endfor%}
                        </div>
                        <div class="col-lg-12" style="height: 500px;width: 400px;background-color:#FFF0AC;">
                            <label style="margin-top: 20px;"><p id="loi_title:" style="display: inline;">標題:</p>
                                <input name="route_title" id="route_title" value="{{edit_loi.route_title}}">
                            </label>
                            <p style="display: inline; float: inherit; margin-right: 5px;"><b id="loi_description:">描述:</b>
                                <textarea id="route_description" name="route_description" style="width: 350px; height: 150px;">{{edit_loi.route_description}}</textarea>
                            </p>
                            <label style="margin-top: 20px;"><p id="loi_contributor" style="display: inline;">景線製作貢獻者:</p>
                                <input name="contributor" id="contributor" value="{{edit_loi.contributor}}">
                            </label>

                            <label><p id="loi_tool:">交通工具:</p>
                                <input type="radio" id="car-1" name="transportation"  class="selectTool" value="開車">
                                    <label id="loi_car" for="car-1">開車</label>
                                <input type="radio" id="bike-1" name="transportation" class="selectTool" value="騎腳踏車">
                                    <label id="loi_bike" for="bike-1">騎腳踏車</label>
                                <input type="radio" id="foot-1" name="transportation" class="selectTool" value="走路">
                                    <label id="loi_foot" for="foot-1">走路</label>
                                <input type="hidden" id="transportation">
                            </label>

                            <label><p id="loi_isPublic" style="display: inline;">是否公開:</p>
                                <input type="radio" id="public" name="isPublic"  class="selectPublic" value="1" checked>
                                    <label id="loi_public" for="public">公開</label>
                                <input type="radio" id="private" name="isPublic" class="selectPublic" value="0">
                                    <label id="loi_private" for="private">不公開</label>
                                <input type="hidden" id="open">
                            </label>

                            <button type="submit" class="btn btn-default" style="margin:0 auto;" id="loi_button"><p id="btn_confirm" style="display: inline;">確認</p></button>
                            <button type="button" class="btn btn-danger" style="margin:0 auto;" id="refresh" onclick="Refresh();">重選</button>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" name="identifier" id="identifier" value={{role}}>
                        <input type="text" name="language" id="language" value="中文">
                        <input type="text" name="route_id" id="route_id" value={{loi_id}}>
                        <input type="text" name="route_owner" id="route_owner" value={{username}}>
                    </div>
                </form>
                <div class="modal fade" id="loi_modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" style="margin-top: 100px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p>你登入的是玩家角色,製作景線/景區選擇公開時,只能包含公開景點!若要包含不公開景點,請以導覽解說員角色登入;或是刪除不公開景點!!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading" hidden><img src="/static/images/loading.gif" style="display: block; margin:380px 500px;"></div>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'js/edit_player_loi.js' %}"></script>
    <script id="language_script"></script>
    <script type="text/javascript">
    areas = "{{edit_loi.area_name_en}}";
    var area_list = []; //keep tracking of area user has choosen
    languages = "{{language}}"
    $(document).ready(function() {
        is_edit = true;
        var open = "{{edit_loi.open}}";
        var transportation = "{{edit_loi.transportation}}";

        $("#transportation").val(transportation);
        $('input[name=transportation]').each(function(){
            if($(this).val() == '{{edit_loi.transportation}}'){
                $(this).attr('checked', 'checked');
            }
        });

        if (open == "True") {
            $('input[name=isPublic][value=1]').attr('checked', 'checked');
            $('#open').val(1);
            // $(".selectPublic").val(1);
        } else {
            $('input[name=isPublic][value=0]').attr('checked', 'checked');
            $('#open').val(0);
            // $(".selectPublic").val(0);
        }
        $.ajax({
            method: "POST",
            data: {
                area: areas
            },
            url: "/get_area",
            success: function(data) {
                $('#city').val(data.area[0].area_country);
                if ($('#city').val()) {
                    $('#city').trigger('change');
                }
                $('#areas').val(data.area[0].area_name_en);
            },
            error: function(data) {
                console.log(data);
            }
        });
    });

    function GetPoi() {
        var count = "{{edit_seq.count}}";
        count = parseInt(count);
        for (var i = 0; i < count; i++) {
            area_list.push(areas);   //pretent the area with first area.
            loi_num++;
        }
        initialMapMarker();
    }
    $('#city').change(function() {
        var city = $(this).val();
        var urls = "/feed_area";
        var data = {
            city: city
        }
        $.ajax({
            method: "POST",
            data: data,
            url: urls,
            success: function(data) {
                var area_count = data.area.length;
                var area_select = $('#areas').empty();
                area_select.append('<option selected disabled hidden>請選擇</option>');
                for (var i = 0; i < area_count; i++) {
                    if (languages == '中文' || languages == '日文') {
                        area_select.append(
                            $('<option></option>').val(data.area[i].area_name_en).html(data.area[i].area_name_ch)
                        );
                    } else {
                        area_select.append(
                            $('<option></option>').val(data.area[i].area_name_en).html(data.area[i].area_name_en)
                        );
                    }
                }
            },
            error: function(data) {
                console.log('data error');
            }
        });
    });
    </script>
    <script>
        const LOI_URL = '/{{coi}}/ajax_routeing';
        const POI_URL = '/{{coi}}/ajax_makeloi'
        const HOME_URL = '/{{coi}}/make_player';
    </script>
</body>

</html>
