<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- <link href="/static/css/style.css" rel="stylesheet" type="text/css"> -->
</head>

{% load static %}
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/skel.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Header -->
<header id="header">
    <a id="head_logo" href="/{{coi}}/index" class="logo">
        <span>
            <img src="/static/images/DEH.jpg" width="30px" height="30px" style="vertical-align:text-bottom; ">
            <img src="/static/images/extn.png" width="30px" height="30px" style="vertical-align:text-bottom; ">
        </span> EXTN-DEH</a>
    <nav>
        {% if username %}
        <a href="/{{coi}}/userinfo" id="username">
            {% if nickname %} {{nickname}} {% else %} {{username}} {% endif %} {% if role == "user" or is_leader == "is_leader" %}
            <p id="user" class="role" style="display: inline">(玩家)</p>
            {%　elif role == "expert" or is_leader == "is_leader"%}
            <p id="Expert" class="role" style="display: inline">(專家)</p>
            {%　elif role == "docent" or is_leader == "is_leader"%}
            <p id="Narrator" class="role" style="display: inline">(導覽員)</p>
            {%　elif role == "identifier" %}
            <p id="(Verifier)" class="role" style="display: inline">(驗證者)</p>
            {%　elif role == "admin" %}
            <p id="(Admin)" class="role" style="display: inline">(Admin)</p>
            {% endif %}
        </a>

        <a href="/{{coi}}/logout" onclick="return confirm('確定登出?')" id="logout-1">登出</a>

        {%if role == "identifier" or role == "admin" or is_leader == "is_leader"%}
        <a id="verifier" href="/{{coi}}/verification">驗證系統</a>
        {% if role == 'admin'%}
        <a id="contents_cal" href="/contents_cal/all">Contents統計表</a>
        {% endif %} {% endif %} {% else %}
        <a id="login" href="/{{coi}}/login">登入</a>
        {% endif %}

        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li>
            <a id="home" href="/{{coi}}/index">首頁</a>
        </li>
        <li>
            <a id="guideMap" href="/{{coi}}/map">導覽地圖</a>
        </li>
        <li>
            <a id="createSpace" href="/{{coi}}/make_player">創作空間</a>
        </li>
        <li>
            <a id="group" href="/{{coi}}/list_groups">群組管理</a>
        </li>
        <li>
            <a id="history" href="/{{coi}}/my_history">歷史紀錄</a>
        </li>
        <li>
            <a id="game" href="/{{coi}}/game">踏溯學堂</a>
        </li>
         <li>
            <a id="prize" href="/{{coi}}/list_prize" style="display: none">兌獎系統</a>
        </li>
        <li>
            <a id="useinfo" href="/{{coi}}/intro">使用簡介</a>
        </li>
        <li>
            <a id="DEH" href="/">文史脈流網站</a>
        </li>
        <li>
            <a id="contactInfo" href="/{{coi}}/index/#contact">聯絡資訊</a>
        </li>
        
        <li>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-lgn">
                    <input type="radio" name="langs" id="chinese" value="chinese" autocomplete="off"> 中文
                </label>
                <label class="btn btn-lgn">
                    <input type="radio" name="langs" id="english" value="english" autocomplete="off"> English
                </label>
                <label class="btn btn-lgn">
                    <input type="radio" name="langs" id="japan" value="japanese" autocomplete="off"> 日本語
                </label>
            </div>
            <input id="coilanguage" type="hidden" >
        </li>
       
    </ul>

</nav>
<script>
    const COINAME = '{{coi}}';
    document.title = '踏溯台南with文史脈流';
</script>
{% load static %}
{% with js=coi|stringformat:"s"|add:"/nav.js" %}
    <script src="{% static 'js/'|add:js %}"></script>
{% endwith %}

<script>
    $(document).ready(function() {
        if($(window).width() < 600) {
            $("#head_logo").css("font-size", "50%");
        }
    });
</script>
