{% include 'header.html' %}

<body>
    {% include 'navbar.html' %} {% include 'sidebar.html' %}
    <div class="container" style="padding-left: 150px;">
        <div class="row">
            <h1 id="logo_content" class="page-header">
                <img id="logo" src="../static/images/logo.png">
            </h1>
            <div class="poi_show col-lg-12">
                <h2 id="soiDraftsTitle" style="display: inline">我的主題故事暫存列表</h2>
                <br>

                {% for soi in list %}
                    <table class="table table-hover">
                    <tr>
                        <th>
                            <a href="/soi_detail/{{soi.soi_id}}">{{soi.soi_title}}</a>
                            
                            
                            {% if soi.open %}
                            <p style="color:#00F; display:inline;" class="public-2">
                                公開
                            </p>
                             {% else %}
                            <p style="color:#F00; display:inline;" class="private">
                                不公開
                            </p>
                            {% endif %} 

                            <button class="btn btn-danger" onclick="deleteSOI('{{soi.soi_id}}')" style="float: right; margin-right: 10px;">刪除</button>
                            <button class="btn btn-warning" onclick="finishSOI('{{soi.soi_id}}')" style="float: right; margin-right: 10px;">完成</button>
                            <button class="btn btn-info" onclick="editSOI('{{soi.soi_id}}')" style="float: right; margin-right: 10px;">修改</button>
                        </th>
                    </tr>
                {% endfor %}
            </div>
        
        </div>
    </div>
    <div id="GroupModal" class="modal fade" role="dialog" style="margin-top: 300px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <select id="group_list">
                        {% for g in group_list %}
                        <option value="{{g.foreignkey.group_id}}">{{g.foreignkey.group_name}}</option>
                        {% endfor%}
                    </select>
                    <button id="make_player_join" class="btn btn-success" onclick="PutGroups()">加入</button>
                    <input type="text" name="modal-typeid" id="all_ids" hidden>
                    <input type="text" name="modal-type" id="all_types" hidden>
                </div>
            </div>
        </div>
    </div>


    <div id="loading" hidden>
        <img src="../static/images/loading.gif" style="position: fixed; display: block; top:40%; right: 50%;">
    </div>
    

    {% load static %}
    <script src="{% static 'js/drafts_soi.js' %}"></script>
    <script src="{% static 'js/huge_import_poi.js' %}"></script>
    <script type="text/javascript">
        is_edit = false;
    </script>
</body>

</html>