<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title id="deh_title">文史脈流網站</title>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8" "></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8" "></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8" "></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"type="text/javascript" charset="utf-8" "></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" "></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/modern-business.css" rel="stylesheet">
    <link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div style="display: none" id="fromDraft" class="fromDraft">{{fromDraft}}</div>
    <input type="hidden" id="lang" style="display:none" value="{{language}}">
     
    <div class="container" style="margin-bottom: 250px;">
        <div class="col-lg-12" id="makePOI" style="margin-left: 50px;">
            <h2 id="poi_edit">景點編輯</h2>
            <form id="make_poiform" enctype="multipart/form-data" style="margin-bottom: 30px;">
                <br>
                <div class="mypoi_make">
                    <div class="form-group">
                        <label id="title-1">標題</label>
                        <input type="" name="poi_title" id="poi_title" value="{{edit_poi.poi_title}}">
                    </div>
                    <div class="form-group">
                        <label id="Format-1">範疇</label>
                        <select id="format" name="format-content">
                            <option class="all" value="all">全部</option>
                            <option id="Historical" value="古蹟">古蹟</option>
                            <option id="historical_buildings" value="歷史建築">歷史建築</option>
                            <option id="Memorial_building" value="紀念建築">紀念建築</option>
                            <option id="Settlement_buildings" value="聚落建築群">聚落建築群</option>
                            <option id="Ruins" value="考古遺址">考古遺址</option>
                            <option id="Historical_site" value="史蹟">史蹟</option>
                            <option id="Cultural-1" value="文化景觀">文化景觀</option>
                            <option id="Antique" value="古物">古物</option>
                            <option class="natural" value="自然景觀">自然景觀</option>
                            <option id="Traditional" value="傳統表演藝術">傳統表演藝術</option>
                            <option id="Traditional2" value="傳統工藝">傳統工藝</option>
                            <option id="Traditional3" value="口述傳統">口述傳統</option>
                            <option id="Folk" value="民俗">民俗</option>
                            <option id="Traditional-knowledge" value="傳統知識與實踐">傳統知識與實踐</option>
                            <option id="General_landscape" value="一般景觀(建築/人工地景/自然地景)">一般景觀(建築/人工地景/自然地景)</option>
                            <option id="Plants" value="植物">植物</option>
                            <option id="Animals" value="動物">動物</option>
                            <option id="biological" value="生物">生物</option>
                            <option id="Food" value="食衣住行育樂">食衣住行育樂</option>
                            <option id="Others" value="其他">其他</option>
                        </select>
                    </div>
 
                    <div class="form-group">
                        <b id="Region-1" style="display: inline;">地區</b>
                        <select id="city" name="city">
                            <option class="sel_option-1" selected disabled hidden>請選擇</option>
                            {% for x in areas %}
                                {% if language == '英文'%}
                                    <option value="{{x.area_country}}">{{x.area_country_en}}</option>
                                {% else %}
                                    <option value="{{x.area_country}}">{{x.area_country}}</option>
                                {%endif%}
                            {% endfor %}
                        </select>
                        <select id="areas" name="my_areas"></select>
                    </div>
                  
                    <div class="form-group">
                        <label id="docent_period">時期</label>
                        <select id="period" name="period">
                            <option class="sel_option-1" selected disabled hidden>請選擇</option>
                            <option id="Prehistory-1" value="史前時期">史前時期</option>
                            <option id="Dutch-1" value="荷西時期">荷西時期</option>
                            <option id="Ming-1" value="明鄭時期">明鄭時期</option>
                            <option id="Qing-1" value="清朝時期">清朝時期</option>
                            <option id="japanese_Occ-1" value="日本時期">日本時期</option>
                            <option id="Modem-1" value="現代台灣">現代台灣</option>
                            <option id="BC-1" value="西元前~0">西元前~0</option>
                            <option value="0~99">0~99</option>
                            <option value="100~199">100~199</option>
                            <option value="200~299">200~299</option>
                            <option value="300~399">300~399</option>
                            <option value="400~499">400~499</option>
                            <option value="500~599">500~599</option>
                            <option value="600~699">600~699</option>
                            <option value="700~799">700~799</option>
                            <option value="800~899">800~899</option>
                            <option value="900~999">900~999</option>
                            <option value="1000~1099">1000~1099</option>
                            <option value="1100~1199">1100~1199</option>
                            <option value="1200~1299">1200~1299</option>
                            <option value="1300~1399">1300~1399</option>
                            <option value="1400~1499">1400~1499</option>
                            <option value="1500~1599">1500~1599</option>
                            <option value="1600~1699">1600~1699</option>
                            <option value="1700~1799">1700~1799</option>
                            <option value="1800~1899">1800~1899</option>
                            <option value="1900~1999">1900~1999</option>
                            <option value="2000~">2000~</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label id="year-1">年份</label>
                        <select type="number" name="year" id="year"></select>
                    </div>
                    <div class="form-group">
                        <label id="keyword-1">關鍵字</label>
                        <input type="text" name="keyword1" id="keyword1" value="{{edit_poi.keyword1}}">
                        <input type="text" name="keyword2" id="keyword2" value="{{edit_poi.keyword2}}">
                        <input type="text" name="keyword3" id="keyword3" value="{{edit_poi.keyword3}}">
                        <input type="text" name="keyword4" id="keyword4" value="{{edit_poi.keyword4}}">
                    </div>
                    <div class="form-group">
                        <label id="docent_address">地址</label>
                        <input type="text" name="poi_address" id="poi_address" value="{{edit_poi.poi_address}}">
                        <br>
                        <p id="Changhua_map" style="color:#FF2D2D; margin-top: 5px;">可利用地圖自動取得地址與經緯度(在地圖上按左鍵,若地址不正確可手動修正)</p>
                        <div id="map_poi" style="width:90%;max-width: 500px;aspect-ratio : 1 / 1;"></div>
                        <div style="margin-top: 5px;">
                            <p style="display: inline;" id="lati:">緯度:</p>
                            <input type="number" name="latitude" id="latitude" value="{{edit_poi.latitude}}" step="0.0000000000000001">
                            <p style="display: inline;" id="long:">經度:</p>
                            <input type="number" name="longitude" id="longitude" value="{{edit_poi.longitude}}" step="0.0000000000000001">
                            <button type="button" id="trans_addr_but"><span id="byAddrGenerate">根據地址自動產生</span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="description">描述</label>
                        <textarea name="poi_description_1" id="poi_description_1">{{edit_poi.poi_description_1}}</textarea>
                    </div>
                    <div class="form-group">
                        
                        <input type="checkbox" id="poi_source_check" name="option_check"><label for="poi_source_check">參考來源</label>
                        <input type="text" name="poi_source" id="poi_source" style="display:none" placeholder="請填入參考來源" value="{{edit_poi.poi_source}}">

                        <input type="checkbox" id="creator_check" name="option_check"><label for="creator_check">參考來源作者</label>
                        <input type="text" name="creator" id="creator" style="display:none" placeholder="請填入參考來源作者" value="{{edit_poi.creator}}">

                        <input type="checkbox" id="publisher_check" name="option_check"><label for="publisher_check">參考來源出版者</label><br>
                        <input type="text" name="publisher" id="publisher" style="display:none" placeholder="請填入參考來源出版者" value="{{edit_poi.publisher}}">
                        
                    </div>
 
                    <div class="form-group">
                        <label id="contributor-1">景點製作貢獻者</label>
                        <input type="text" name="contributor" id="contributor" value="{{edit_poi.contributor}}">
                    </div>
                    <div class="form-group">
                        <label id="public-1">公開</label>
                        <select id="open" class="selectPublic" name="open">
                            <!-- <option class="sel_option-1" selected disabled hidden>請選擇</option> -->
                            <option id="yes" value="1">公開</option>
                            <option id="no" value="0">不公開</option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" name="poi_id" id="poi_id" value="{{poi_id}}">
                        <input type="text" name="language" id="language" value="中文">
                        <input type="text" name="identifier" id="identifier" value="{{role}}">
                        <input type="text" name="rights" id="rights" value={{username}}>
                    </div>
                    <div class="form-group">
                        <label id="upload_guide">上傳語音導覽解說</label>
                        
                        <div class="upload_sound">
                            <input id="sound" type="radio" name="sounds" value="sound">
                            <p id="audio_guide-1" style="display: inline;">語音導覽</p>
                            <p id="3gpp">允許上傳mp3/wav/ogg格式的錄音檔，檔案大小不能超過5M</p>
                            <input class="sound_val" name="sounds" value="8" hidden>
                            <input type="file" name="sound_file" accept=".wav,.ogg,.mp3" id="sound_file">
                            <audio controls id="disp_sound"></audio>
                        </div>
 
                        
                        <br>
                    </div>
                    <div class="form-group">
                        <label id="upload_media">上傳照片/聲音/影片</label>
                        <div class="form-group">
                            <input type="radio" name="media" value="none" hidden>
                            <!-- 無 -->
                            <input type="radio" name="media" value="image" >
                            <p id="img_file" style="display: inline;">相片</p>
                            <input type="radio" name="media" value="video">
                            <p id="video_file-1" style="display: inline;">影片</p>
                            <input type="radio" name="media" value="audio">
                            <p id="audio_file-1" style="display: inline;">聲音</p>
                            <br>
                            
                            <div class="upload_none" hidden></div>
                            <div class="upload_image"></div>
                            <div class="upload_video" style="width: 70%; height: auto;"></div>
                            <div class="upload_audio"></div>
                        </div>
                    </div>
                    <input type="text" name="user" value="{{username}}" hidden>
                    <button type="submit" class="btn btn-default submit_poiform" id="btn_confirm">確認</button>
                    <button type="reset" class="btn btn-danger " id="clear">清除</button>
                    <button  type="button" class="btn btn-warning " id="draft">暫存</button>

                    <div class="alert alert-danger" hidden></div>
                    <div class="alert alert-success" hidden></div>
                </div>
            </form>
            {% for m in edit_sound %} {% if m.format == 8 %}
            <span class="label label-success">語音導覽</span>
            <div class="edit_sound" id="edit_{{m.picture_id}}">
                <audio controls src="/player_pictures/media/audio/{{m.picture_name}}"></audio>
                <button id="{{m.picture_id}}" onclick="delete_img('{{m.picture_id}}','{{m.picture_name}}','{{m.format}}')">
                    <p class="delete_file" style="display: inline;">刪除</p>
                </button>
            </div>
            {% endif %} 
            {% endfor %} 

            {% if edit_mpeg.count == 0 %}
                    <div class="edit_none"></div>
            {% else %}
                {% for m in edit_mpeg %}
                    {% if m.format == 1 %}
                    
                    <span class="label label-success"><p class="img_file" style="display: inline;">圖片</p></span>
                    <div class="edit_image" id="edit_{{m.picture_id}}">
                        <!--img style="width:200px; height: 200px;" src="/player_pictures/media/{{m.picture_name}}"-->
                        {%if 'http' not in m.picture_url %}<img style="width:200px; height: 200px;" src="/player_pictures/media/{{m.picture_name}}">
                        {%else%}<img style="width:200px; height: 200px;" src={{m.picture_url}}>{% endif %}
                        <button id="{{m.picture_id}}" onclick="delete_img('{{m.picture_id}}','{{m.picture_name}}','{{m.format}}')">
                            <p class="delete_file" style="display: inline;">刪除</p>
                        </button>
                    </div>
                    {% elif m.format == 2 %}
                    <span class="label label-success">聲音</span>
                    <div class="edit_audio" id="edit_{{m.picture_id}}">
                        <audio controls src="/player_pictures/media/audio/{{m.picture_name}}"></audio>
                        <button id="{{m.picture_id}}" onclick="delete_img('{{m.picture_id}}','{{m.picture_name}}','{{m.format}}')">
                            <p class="delete_file" style="display: inline;">刪除</p>
                        </button>
                    </div>
                    {% elif m.format == 4 %}
                    <span class="label label-success">影片</span>
                    <div class="edit_video" id="edit_{{m.picture_id}}">
                        <video controls src="/player_pictures/media/video/{{m.picture_name}}"></video>
                        <button id="{{m.picture_id}}" onclick="delete_img('{{m.picture_id}}','{{m.picture_name}}','{{m.format}}')">
                            <p class="delete_file" style="display: inline;">刪除</p>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        

            

            <div id="loading" hidden><img src="/static/images/loading.gif" style="position: fixed; display: block; top:40%; right: 50%;"></div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/edit_player_poi.js' %}" ></script>
    <script src="{% static 'js/get_year.js' %}"></script>
    <script src="{% static 'js/navi.js' %}"></script>
    <script type="text/javascript">
    is_edit = true;
    areas = "{{edit_poi.area_name_en}}";
    edit_mpeg =  "{{edit_mpeg}}";
    sound_count = "{{edit_sound.count}}";
    image_count = 0
    sound_count = parseInt(sound_count);
    orig_count = parseInt(image_count);
    chk = "{{mpeg_format.format}}";
    push_media_type = "{{mpeg_format.format}}";
    chk_sound = "{{sound_format.format}}";
    languages ="{{language}}"
    $(document).ready(function() {
        for(var i = 0 ;i<edit_mpeg.length;i++){
            if(edit_mpeg[i].format==1){
                image_count++;
            }
        } 
        $.ajax({
            method: "POST",
            data: {
                area: areas
            },
            url: "/get_area",
            success: function(data) {
                $('#city').val(data.area[0].area_country);
                if ($('#city').val()) {
                    $('#city').trigger('change');
                }
                $('#areas').val(data.area[0].area_name_en);
            },
            error: function(data) {
                console.log(data);
            }
        });
        var subject = "{{edit_poi.subject}}";
        var type1 = "{{edit_poi.type1}}";
        var period = "{{edit_poi.period}}";
        var year = "{{edit_poi.year}}";
        var format = "{{edit_poi.format}}";
        var open = "{{edit_poi.open}}";

        if (chk == 1) {
            $('#image').prop("checked", true);
            $('input[type=radio][name=media]')[0].value = "image";
        } else if (chk == 2) {
            $('#audio').prop("checked", true);
            $('input[type=radio][name=media]')[0].value = "audio";
        } else if (chk == 4) {
            $('#video').prop("checked", true);
            $('input[type=radio][name=media]')[0].value = "video";
        } else {
            $('#none').prop("checked", true);
            $('input[type=radio][name=media]')[0].value = "none";
        }
        if (chk_sound == 8) {
            $('#sound').prop("checked", true);
            $('input[type=radio][name=sounds]').val('sound');
        } else {
            $('#nothing').prop("checked", true);
            $('input[type=radio][name=sounds]').val('none');
        }
        $("#subject").val(subject);
        $("#type1").val(type1);
        $("#period").val(period);
        if (period) {
            $("#period").trigger('change');
            $("#year").val(year);
        }

        $("#format").val(format);
        if (open == "False") {
            $("#open").val(0);
        } else {
            $("#open").val(1);
        }
    });
    $('#city').change(function() {
        var city = $(this).val();
        var urls = "/feed_area";
        var data = {
            city: city
        }
        $.ajax({
            method: "POST",
            data: data,
            url: urls,
            success: function(data) {
                var area_count = data.area.length;
                var area_select = $('#areas').empty();
                for (var i = 0; i < area_count; i++) {
                    if (areas == data.area[i].area_name_en) {
                        if (languages == '中文' || languages == '日文') {
                            area_select.append(
                                $('<option></option>').val(data.area[i].area_name_en).html(data.area[i].area_name_ch)
                            );
                        } else {
                            area_select.append(
                                $('<option></option>').val(data.area[i].area_name_en).html(data.area[i].area_name_en)
                            );
                        }
                        area_select.val(areas);
                    } else {
                        if (languages == '中文' || languages == '日文') {
                            area_select.append(
                                $('<option></option>').val(data.area[i].area_name_en).html(data.area[i].area_name_ch)
                            );
                        } else {
                            area_select.append(
                                $('<option></option>').val(data.area[i].area_name_en).html(data.area[i].area_name_en)
                            );
                        }
                    }
                }
            },
            error: function(data) {
                console.log(data);
            }
        });
    });
    
    </script>
    <script src="{% static 'js/exif.js' %}"></script>
    <script id="language_script"></script>
    <script>
        const POI_URL = '/ajax_dublincore';
        const HOME_URL = '/make_player';
    </script>
</body>
<style>
    #map_poi>div>div>div>canvas {
        width: 100%!important;
        max-width: 500px;
        height: auto!important;
        aspect-ratio:1;
    }
    #disp_video{
        max-width: 500px;
    }
    .edit_video > video{
        max-width: 500px;
    }
</style>

</html>
