{% include 'header.html' %}
<html>
    {% include 'navbar.html' %} {% include 'sidebar.html' %}
    <body>
    <div class="container" style="margin-bottom: 250px;">
        <div class="col-lg-12" id="makePOI" style="margin-left: 50px;"> <br>
            <input type="hidden" value="chinese" class="lang-1">
            <input type="hidden" id="lang" style="display:none" value="{{language}}">
            <h2 id="make_prizeform-1">獎品項目更新</h2>
            <form id="make_prizeform" enctype="multipart/form-data">
                <div class="myprize_make">
                    <div class="form-group">
                        <label id="prizetitle">獎品名稱</label>
                        <input type="" name="prize_title" id="prize_title" value="{{prize.prize_name}}">
                    </div>
                    <div class="form-group">
                        <label id="prizenum">獎品數量</label>
                        <input type="" name="prize_num" id="prize_num" value="{{prize.prize_number}}">
                        
                    </div>
                    <div id="addgroup">
                        {% if authorized_prize != 1 %}
                        {% for g,h in authorized_list %}
                        <div id = "prize_to_group">
                            <label id="prizetogroup_title">授權活動</label>
                            <select id = "prizetogroup" name="prizetogroup" style="display: inline;">
                                <option value="{{g}}">{{h.Event_name}}</option>
                                {%for group in grouplist%}
                                    <option value="{{group.Event_id}}">{{group.Event_name}}</option>
                                {%endfor%}
                            </select>
                            <input type="button" id="delGroup" value="刪除授權活動" >
                        </div>
                        {% endfor %}
                        {% else %}
                        <div id = "prize_to_group">
                            <label id="prizetogroup_title">授權活動</label>
                            <select id = "prizetogroup" name="prizetogroup" style="display: inline;">
                                {%for group in group_list%}
                                    <option value="{{group.Event_id}}">{{group.Event_name}}</option>
                                {%endfor%}
                            </select>
                            <input type="button" id="delGroup" value="刪除授權活動" onclick="DelGroup()" >
                        </div>
                        {% endif %}
                    </div>
                    <input type="button" id="increaseGroup" value="新增授權活動" onclick="IncreaseGroup()" >
                    
                    <div class="form-group">
                        <label id="description">描述</label>
                        <textarea name="prize_description" id="prize_description">{{prize.prize_description}}</textarea>
                    </div>
                    
                    <div class="form-group">
                        <input type="radio" id="public" name="isPublic"  class="selectPublic" value="1" checked> <label id="poi_public" for="public">公開</label>
                        <input type="radio" id="private" name="isPublic" class="selectPublic" value="0">  <label id="poi_private" for="private">不公開</label>
                        <input type="hidden" value="1" id="open">
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" name="prize_id" id="prize_id" value="{{prize.prize_id}}">
                        <input type="text" name="language" id="language" value="chinese">
                        <input type="text" name="identifier" id="identifier" value="{{role}}">
                        <input type="text" name="rights" id="rights" value={{username}}>
                    </div>
                    
                    <div class="form-group">
                        <label id="upload_media">上傳照片/聲音/影片</label>
                        <br>
                        <input type="radio" name="media" value="none" hidden>
                        
                        <span>
                            <img id="prize_image" style="width:200px; height: 200px;" src="{{prize.prize_url}}"></img>
                            <!--button type="button" style="display: block;width: 205px;background: #4bafa9; color: white; text-align:center; cursor: pointer;">刪除圖片</button-->
                            
                        </span>
                        
                        <!--input type="radio" id="img_file-1" name="media" value="image">
                        <label id="img_file" class="img_file" for="img_file-1" >相片</label></input-->
                        
                        <br>
                        <p id="img_restrict"></p>
                        <div class="upload_none" hidden></div>
                        <div class="upload_image"></div>
                        
                    </div>
                    <input type="hidden" name="user" value="{{username}}">
                    <button type="submit" class="btn btn-default">
                        <p id="btn_confirm" style="display: inline;">確認</p>
                    </button>
                    <!--button type="reset" class="btn btn-danger " id="clear">
                        <p id="btn_reset" style="display: inline;">清除</p>
                    </button-->
                    <div class="alert alert-danger" hidden></div>
                    <div class="alert alert-success" hidden></div>
                </div>
            </form>
            <!--span class="label label-success"><p class="img_file" style="display: inline;">圖片</p></span>
            <div class="edit_image" id="edit_{{.picture_id}}">
                <input type="radio" id="img_file-1" name="media" value="image">
                <img style="width:200px; height: 200px;" src="../{{prize.prize_url}}">
                <button id="{{m.picture_id}}" onclick="delete_img({{m.picture_id}},'{{m.picture_name}}','{{m.format}}')">
                    <p class="delete_file" style="display: inline;">刪除</p>
                </button>
            </div-->
            <div id="loading" hidden><img src="/static/images/loading.gif" style="display: block; margin:1500px 400px;"></div>

        </div>
    </div>
    </div>
    <script>
        const POI_URL = '/ajax_prize';
        const HOME_URL = '/list_prize';
        const COI_NAME = '{{coi}}';
    </script>
    {% load static %}
    <script src="{% static 'js/edit_prize.js' %}"></script>
    <script src="{% static 'js/get_year.js' %}"></script>
    <script src="{% static 'js/exif.js' %}"></script>
    <script id="language_script"></script>
    {% with js=coi|stringformat:"s"|add:"/nav.js" %}
    <script src="{% static 'js/'|add:js %}"></script>
    {% endwith %}
</body>

</html>