<!-- Footer -->
<footer>
    <div class="row" style="border: 1px solid #c5b9b9;">
        <div class="col-lg-12">
            <p>Copyright &copy; mmnetlab 2018</p>
            {% if pageviews %}
                <p><span id="totalViewNumber">總瀏覽次數</span>: {{pageviews}}</p>
            {% endif %}
            <p><span id="contactMethod">聯絡方式</span>
                <br>Tel:06-2757575 ext. 62520/62530 <span id="transfer">轉</span> 2303
                <br> E-mail: dehmaster00@gmail.com</p>
        </div>
    </div>
</footer>
