<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>文史脈流網站</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="https://js.api.here.com/v3/3.1.34.2/mapsjs-core.js" type="text/javascript" charset="utf-8" "></script>
    <script src="https://js.api.here.com/v3/3.1.34.2/mapsjs-core-legacy.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1.34.2/mapsjs-service.js" type="text/javascript" charset="utf-8" "></script>
    <script src="https://js.api.here.com/v3/3.1.34.2/mapsjs-service-legacy.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1.34.2/mapsjs-ui.js" type="text/javascript" charset="utf-8" "></script>
    <script src="https://js.api.here.com/v3/3.1.34.2/mapsjs-mapevents.js"type="text/javascript" charset="utf-8" "></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/modern-business.css" rel="stylesheet">
    <link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/table2excel/src/jquery.table2excel.js"></script>
    <script src="/static/table2csv/src/table2csv.js"></script>
    <script src="/static/PapaParse/papaparse.js"></script>
</head>