{% include 'header.html' %}
<html>

<body>
  {% include 'navbar.html' %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              <img src="../static/images/logo.png">
          </h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <table>
          <tr><td>
          <p id = "know_title"><strong>文史脈流服務平台會員服務使用條款</strong><br />
            歡迎您加入成為文史脈流服務平台的會員，所有使用會員服務的使用者(以下稱會員)，都應該詳細閱讀下列約定條款，這些約定條款訂立的目的，是為了保護會員服務的提供者以及所有使用者的利益，並構成使用者與會員服務提供者之間的契約。</p>
          <p id = "know_age">若您未滿十八歲，應於您的家長（或監護人）閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，方得使用或繼續使用本服務。當您使用或繼續使用本服務時，即表示您的家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。</p>
          <p id = "know_term">使用者完成註冊手續、或開始使用文史脈流服務平台所提供的會員服務時，就視為已知悉、並完全同意本使用條款的所有約定：<br />
            <br /></p>
            <p id = "term_1"><strong>一、會員服務</strong>&nbsp;<br />
            <br />
            1.&nbsp;確認會員申請後，將依本系統當時所建置的服務頻道、項目、內容、狀態及功能，對會員提供服務；本服務平台保留隨時新增、減少或變更各該服務頻道、項目、內容及功能之全部或一部份之權利，且不另行個別通知。<br />
            2.&nbsp;部份服務或項目可能係由本服務平台之合作夥伴所建置或提供、或需由會員進行個別申請或登錄程序、或需由會員付費使用，均依當時及隨後所修改的各該服務頻道及項目之使用說明及相關頁面而定。<br />
            3.&nbsp;本服務平台保留隨時變更免費服務為收費服務、以及變更收費標準之權利，變更後之內容，除公佈於各該網頁外，不另行個別通知。<br />
            4.&nbsp;部分會員服務可能另訂有相關使用規範或約定，會員應同時遵守各該服務頻道或項目之使用規範及相關約定。<br />
            <br /></p>
            <p id = "term_2"><strong>二、帳號、密碼與安全性</strong>&nbsp;<br />
            <br />
            1.&nbsp;會員應完成註冊程序、提供會員註冊或流程中所要求的資料，並應擔保所提供的所有資料都是正確且即時的資料，如果會員所提供的資料事後有變更，會員應即時更新所留存的資料。如果會員未即時提供資料、未按指定方式提供資料、或所提供之資料不正確或與事實不符，本服務平台保留不經事先通知，隨時拒絕或暫停對該會員提供相關服務之全部或一部份之權利。<br />
            2.&nbsp;會員可以自行選擇使用者名稱和密碼，但會員有妥善自行保管和保密的義務，不得透漏或提供予第三人使用，對於使用特定使用者名稱和密碼使用會員服務之行為、以及登入系統後之所有行為，均應由持有該使用者名稱和密碼之會員負責。<br />
            3.&nbsp;會員如果發現或懷疑其使用者名稱和密碼被第三人冒用或不當使用，會員應立即通知本服務平台，以利本服務平台及時採取適當的因應措施；但上述因應措施不得解釋為本服務平台因此而明示或默示對會員負有任何形式之賠償或補償義務。<br />
            <br /></p>
            <p id = "term_3"><strong>三、個人資料保護&nbsp;</strong><br />
            <br />
            1.&nbsp; 本服務平台會保護每一位會員的個人資料，對於會員所提供的個人資料，本服務平台只限於提供本服務的目的而使用。除了會員可能涉及違法、侵權、違反本使用條款或各該服務之使用規範或約定、或經本人同意外，本服務平台不會將會員個人資料提供給第三人。<br />
            2.&nbsp;在下列的情況下，本服務平台有可能會查看或提供會員的個人資料或相關電信資料給相關政府機關、或主張其權利受侵害並提出適當證明之第三人：<br />
            (1)&nbsp;依法令規定、或依司法機關或其他相關政府機關的命令；<br />
            (2)&nbsp;會員涉及違反法令、侵害第三人權益、或違反本使用條款或各該使用規範或約定；<br />
            (3)&nbsp;為保護會員服務系統之安全或經營者之合法權益；<br />
            (4)&nbsp;為保護其他使用者或其他第三人的合法權益；<br />
            (5)&nbsp;為維護本系統的正常運作;<br />
            3. 其他未規定之事項，依中華民國「個人資料保護法」之規定辦理。<br />
            <br /></p>
            <p id = "term_4"><strong>四、資料儲存</strong><br />
            <br />
            1.&nbsp;會員應自行備份其所上傳、刊載或儲存於本系統內的所有資料。本服務平台將依當時本系統所設定之方式及處理能量，定期備份會員所儲存的資料，但不擔保會員所儲存的資料將全部被完整備份；會員同意，本服務平台不需對未備份、已刪除的資料或備份儲存失敗的資料負責。<br />
            2.&nbsp;本系統不擔保會員所上載的資料將被正常顯示、亦不擔保資料傳輸的正確性；如果會員發現本系統有錯誤或疏失，請立即通知本系統網站管理者。<br />
            3.&nbsp;本系統會自動偵測一定期間沒有使用的會員帳號，對於一定期間未登入使用之會員帳號，本系統將自動刪除該使用者帳號之所有郵件、檔案、使用者設定資料檔及相關資料，且不予另行備份，並暫停該使用者帳號之使用。有無登入使用之紀錄，以本服務平台會員服務系統內所留存之紀錄為準。<br />
            <strong><br /></p>
            <p id = "term_5"><strong>五、會員服務之提供及使用</strong><br />
            <br />
            1.&nbsp;本服務平台或合作夥伴為提供會員服務所提供之所有相關網域名稱及網路位址，仍屬本服務平台或其他合法權利人所有，會員僅得於保有會員資格之期間內，依本使用條款及各該使用規範或相關約定所約定之方式加以使用，且會員不得將其會員資格或會員權益移轉、出租或出借予任何第三人。<br />
            2.&nbsp;會員服務內所提供之搜尋、檢索或找圖之服務或功能，係電腦程式系統所提供之自動化服務及軟體工具，由使用者自行依照所選定或設定之條件或內容，進行搜尋或檢索；因此所得之搜尋、檢索或找圖之結果、相關連結及其內容，本系統不擔保所有資料將被正常顯示、亦不擔保資料傳輸的正確性。<br />
            3.&nbsp;針對特定會員服務，本服務平台可能接洽合作夥伴或其他廠商提供相關圖檔、圖片或其他著作或資料，供會員瀏覽、檢索或使用，但使用者需遵守相關授權約定或限制。該等圖檔、圖片及其他著作或資料之合法性，均由提供各該圖檔、圖片及其他著作或資料之合作夥伴或廠商自行負責。<br />
            4.&nbsp;會員在本系統所提供的伺服器空間上建置的任何資料（包括且不限於文字、圖片、影片、檔案或其他資料）或頁面，其相關所有權及廣告版面經營權，均仍歸本服務平台所有，除另行取得本服務平台事前同意外，不論是否有償，會員不得自行由經由第三人以任何方式銷售、經營、或提供網路廣告或類似業務。<br />
            5.會員所申請的帳號除了可以用在此「文史脈流行動導覽服務」平台外，亦可使用在其餘客製化平台 (如「踏溯台南行動導覽服務」) 上，包含網站及APPs。<br>
            6. 會員在「文史脈流行動導覽服務」平台所上傳的內容 (POIs/LOIs/AOIs/SOIs) 可挑選自己製作的POIs/LOIs/AOIs/SOIs匯入至其餘的客製化平台上。<br>
            <br /></p>
            <p id = "term_6"><strong>六、使用者行為</strong><br />
            <br />
            1.&nbsp;會員不得為未經事前授權的商業行為。<br />
            2.&nbsp;會員上傳或刊載於各類會員服務內的資訊（包括且不限於文字、圖片、影片、檔案或其他資料），均由電腦系統自動依會員之指令，上傳、刊載或儲存於各類會員服務相關網頁及位置，本服務平台不負責審查、核對或編輯。<br />
            3.&nbsp;會員必須遵守相關法令規範，且不得從事下列行為：<br />
            (1)&nbsp;傳送任何違反中華民國技術資料輸出等相關法令之郵件、檔案或資料。<br />
            (2)&nbsp;刊載、傳輸、發送或儲存任何誹謗或妨害他人名譽或商譽、詐欺、猥褻、色情、賭博、違反公序良俗或其他違反法令之郵件、圖片、檔案或資料。<br />
            (3)&nbsp;刊載、傳輸、發送或儲存任何侵害他人智慧財產權或其他權益的著作或資料。<br />
            (4)&nbsp;未經同意收集他人電子郵件位址以及其他個人資料。<br />
            (5)&nbsp;未經同意擅自摘錄或使用會員服務內任何資料庫內容之全部或一部份。<br />
            (6)&nbsp;刊載、傳輸、發送、儲存病毒、或其他任何足以破壞或干擾電腦系統或資料的程式或訊息。<br />
            (7)&nbsp;破壞或干擾會員服務的系統運作或違反一般網路禮節之行為。<br />
            (8)&nbsp;在未經授權下進入會員服務系統或是與系統有關之網路，或冒用他人帳號或偽造寄件人辨識資料傳送郵件，企圖誤導收件人之判斷。<br />
            (9)&nbsp;任何妨礙或干擾其他使用者使用會員服務之行為。<br />
            (10)&nbsp;傳送幸運連鎖信、垃圾郵件、廣告信或其他漫無目的之郵件。<br />
            (11)&nbsp;任何透過不正當管道竊取會員服務之會員帳號、密碼或存取權限之行為。<br />
            (12)&nbsp;其他不符合會員服務所提供的使用目的之行為。<br />
            4.&nbsp;如果會員或第三人所上傳、刊載、傳輸、發送或儲存之任何文字、圖片、影片、檔案或其他著作或資料，有任何違反法令或侵害第三人權益之虞、或違反本使用條款或其他使用規範或約定、或經第三人主張涉及侵權或其他合法性爭議，本服務平台有權隨時不經通知，直接加以刪除、移動或停止存取，或對各該會員停止提供會員服務之全部或一部份；為該等行為之會員，除須自負因此所生之法律責任外，對於本服務平台因此所受之損害及所支出之費用，並應負賠償及償還之責任。<br />
            <br /></p>
            <p id = "term_7"><strong>七、權利歸屬及會員對本服務平台的授權</strong><br />
            <br />
            1.&nbsp;會員服務所提供的所有網頁設計、介面、URL、商標或標識、電腦程式、資料庫等，其商標、著作權、其他智慧財產權及資料所有權等，均屬於本服務平台或授權本服務平台使用之合法權利人所有。<br />
            2.&nbsp;本服務平台之各項會員服務，僅提供相關伺服器空間及系統供會員使用，會員不因此而取得本服務平台及個別會員服務的相關商標、著作權或其他智慧財產權之授權。 <br />
            3. 會員自行上傳、建置、刊載及儲存於本服務之資訊，同意授權留存於本平台使用，供網友瀏覽、推薦等非商業行為之用途。<br />
            4.&nbsp;會員自行上傳、建置、刊載及儲存於會員服務內之所有著作及資料，其著作權或其他智慧財產權仍然歸會員或授權會員使用之合法權利人所有；但會員除必須擔保該等著作或資料絕無違反法令或侵害第三人權益外，並同意授權本服務平台得儲存、刊載於網站上，並得經由網站，以本服務平台所認為適當之方式，包括為配合不同軟體或硬體設備所製作或轉換之各種不同版本或格式，例如適合於網路線上閱讀之版本、以及可供下載於各種不同電腦設備(包括智慧型手機、行動裝置、以及將來市場上所開發之類似設備)之不同版本或格式等，提供予特定或不特定之人於線上瀏覽、查詢、檢索、離線閱讀或接收，只要不涉及商業行為皆可自由使用。會員並同意授權本服務平台得自行挑選會員已上傳、建置、刊載及儲存於各項會員服務內之著作及資料，單獨、彙整、或與其他會員之著作及資料集結後發行電子報或類似電子訊息，包括但不限於使用於為配合本服務平台及各項會員服務之行銷或推廣目的所發送之電子報及相關訊息。除了隨同各該會員服務一起移轉或再授權外，本服務平台不會將會員所上傳、刊載及儲存的著作及資料單獨轉讓或再授權給第三人。<br>
            5. 本服務平台會蒐集會員的瀏覽紀錄及上傳資料之位置紀錄作為會員行動軌跡及瀏覽軌跡之使用。<br>
            <br />
            <br /></p>
            <p id = "term_8"><strong>八、責任排除及限制</strong><br />
            <br />
            1.&nbsp;對於本服務平台所提供之各項會員服務，均僅依各該服務當時之功能及現況提供使用，對於使用者之特定要求或需求，包括但不限於速度、安全性、可靠性、完整性、正確性及不會斷線和出錯等，本服務平台不負任何明示或默示之擔保或保證責任。<br />
            2.&nbsp;本服務平台不保證任何郵件、檔案或資料之傳送及儲存均係可靠且正確無誤，亦不保證所儲存或所傳送之郵件、檔案或資料之安全性、可靠性、完整性、正確性及不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，本服務平台不負賠償責任。<br />
            3.&nbsp;因本服務平台所提供的會員服務本身之使用，所造成之任何直接或間接之損害，本服務平台不負任何賠償責任，即使係本服務平台曾明白提示注意之建議事項亦同。<br />
            <br /></p>
            <p id = "term_9"><strong>九、服務暫停或中斷</strong><br />
            <br />
            1.&nbsp;會員服務系統或功能之例行性維護、改置或變動所發生之服務暫停或中斷，本服務平台將於暫停或中斷前，以電子郵件、公告或其他適當之方式告知會員。<br />
            2.&nbsp;在下列情形，本服務平台將暫停或中斷會員服務之全部或一部份，且對使用者因此所受之所有直接或間接損害，不負賠償責任：<br />
            (1)&nbsp;對會員服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時；<br />
            (2)&nbsp;使用者有任何違反法令、本使用條款或各該使用規範及約定之情形；<br />
            (3)&nbsp;因第三人之行為、天災或其他不可抗力所致之會員服務停止或中斷；<br />
            (4)&nbsp;因其他非本服務平台所得完全控制或不可歸責於本服務平台之事由所致之會員服務停止或中斷。<br />
            3.&nbsp;會員付費使用之加值服務，如因會員違反相關法令、違反本使用條款或各該使用規範或約定，或因法令規定或依相關主管機關之要求、或因其他不可歸責於本服務平台之事由，而致付費加值服務全部或一部份暫停或中斷時，暫停或中斷期間仍照常計費。<br />
            <br /></p>
            <p id ="term_10"><strong>十、終止服務</strong><br />
            <br />
            1.&nbsp;基於服務平台運作，本服務平台保留隨時停止提供會員服務之全部或一部份之權利，本服務平台不因此而對會員負賠償或補償之責任。<br />
            2.&nbsp;如會員違反本使用條款或各該會員服務之使用規範或約定，本服務平台保留隨時暫時停止提供服務、或終止提供服務之權利，且不因此而對會員負任何賠償或補償之責任。<br />
            <br /></p>
            <p id ="term_11"><strong>十一、本使用條款之修改</strong><br />
            <br />
            本服務平台保留隨時修改本會員服務使用條款及各該使用規範或約定之權利，修改後的內容，將公佈在會員服務相關網頁上，不另外個別通知使用者。<br />
            <br /></p>
            <p id = "term_12"><strong>十二、準據法及管轄權</strong>&nbsp;<br />
            <br />
            1.&nbsp;本使用條款及各該會員服務之相關使用規範及約定，均以中華民國法令為準據法。&nbsp;<br />
            2.&nbsp;因會員服務、或本使用條款及各該會員服務之相關使用規範及約定所發生之爭議，如因此而訴訟，以台灣台南地方法院為第一審管轄法院。 </p>
          <p id = "term_13"><strong>十三、其他 </strong></p>
          <p id = "know_last">本條款未盡事宜，雙方同意按相關法規及誠信原則公平處理。 </p><br>
          </td></tr>
        </table>
      </div>
    </div>

    <div class="col-lg-12">
      <input type="checkbox" name="Iagree" id="iagree"><label for="Iagree"><b id = "Agree">我有詳細閱讀，瞭解和接受</b></label>
      <input type="button" value="確認" id="checkOK" tabindex="0" name="button2" id="button2" onclick="check_form();" data-content="請勾選接受後確認" style="margin-left: 100px" >
      <br><br>
    </div>

  </div>

  <script>
    is_edit = false
    function check_form(){
      console.log($("#iagree").prop('checked'));
      if($("#iagree").prop('checked') == true){
        window.location = '/regist';
      }
      else {
        alert("請勾選接受後確認")
        $('#checkOK').popover({
          trigger: 'focus'
        })
      }
    }
  </script>

      
</body>

</html>