{% include 'header.html' %}
<html>
    {% include 'navbar.html' %}
    <body>
    <div class="container" style="margin-bottom: 250px;">
        <div class="col-lg-12" id="makePOI" style="margin-left: 50px;"> <br>
            <input type="hidden" value="chinese" class="lang-1">
            <input type="hidden" id="lang" style="display:none" value="{{language}}">

            <h2 id="make_prizeform-1">獎品項目登錄</h2>
            <form id="make_prizeform" enctype="multipart/form-data">
                <div class="myprize_make">
                    <div class="form-group">
                        <label id="prizetitle">獎品名稱</label>
                        <input type="" name="prize_title" id="prize_title">
                    </div>
                    <div class="form-group">
                        <label id="prizenum">獎品數量</label>
                        <input type="" name="prize_num" id="prize_num">
                    </div>
                    <div id = "addgroup">
                        <div id = "prize_to_group">
                            <label id="prizetogroup_title">授權活動</label>
                            <select id = "prizetogroup" name="prizetogroup" style="display: inline;" required>
                                {%for group in group_list%}
                                    <option value="{{group.Event_id}}">{{group.Event_name}}</option>
                                {%endfor%}
                            </select>
                            <input type="button" id="delGroup" value="刪除授權活動" style="display: inline;">
                        </div>
                    </div>
                    <input type="button" id="increaseGroup" value="新增授權活動" onclick="IncreaseGroup()" >
                    
                    <div class="form-group">
                        <label id="description">描述</label>
                        <textarea name="prize_description" id="prize_description"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <input type="radio" id="public" name="isPublic"  class="selectPublic" value="1" checked> <label id="poi_public" for="public">公開</label>
                        <input type="radio" id="private" name="isPublic" class="selectPublic" value="0">  <label id="poi_private" for="private">不公開</label>
                        <input type="hidden" value="1" id="open">
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" name="prize_make" id="prize_make" value="make">
                        <input type="text" name="language" id="language" value="chinese">
                        <input type="text" name="identifier" id="identifier" value="{{role}}">
                        <input type="text" name="rights" id="rights" value={{username}}>
                    </div>
                    
                    <div class="form-group">
                        <label id="upload_media">上傳照片/聲音/影片</label>
                        <br>
                        <input type="radio" name="media" value="none" hidden>
                        <!-- 無 -->
                        <input type="radio" id="img_file-1" name="media" value="image">
                        <label id="img_file" class="img_file" for="img_file-1">相片</label>
                        
                        <br>
                        <p id="restrict"></p>
                        <div class="upload_none" hidden></div>
                        <div class="upload_image"></div>
                        
                    </div>
                    <input type="hidden" name="user" value="{{username}}">
                    <button type="submit" class="btn btn-default">
                        <p id="btn_confirm" style="display: inline;">確認</p>
                    </button>
                    <button type="reset" class="btn btn-danger " id="clear">
                        <p id="btn_reset" style="display: inline;">清除</p>
                    </button>
                    <div class="alert alert-danger" hidden></div>
                    <div class="alert alert-success" hidden></div>
                </div>
            </form>
            <div id="loading" hidden><img src="/static/images/loading.gif" style="position: fixed; display: block; top:40%; right: 50%;"></div>

        </div>
    </div>
    </div>
    <script>
        const POI_URL = '/ajax_prize';
        const HOME_URL = '/list_prize';
        const COI_NAME = '{{coi}}';
    </script>
    {% load static %}
    <script src="{% static 'js/make_prize.js' %}"></script>
    <script src="{% static 'js/get_year.js' %}"></script>
    <script src="{% static 'js/exif.js' %}"></script>
    <script id="language_script"></script>
</body>

</html>