{% include 'header.html' %}

<body>
    {% include 'navbar.html' %} {% include 'sidebar.html' %}
    <div class="container" style="padding-left: 150px;">
        <div class="row">
            <h1 id="logo_content" class="page-header">
                <img id="logo" src="../static/images/logo.png">
            </h1>
            <div class="poi_show col-lg-12">
                <h2 id="myPOI" style="display: inline">我的景點列表</h2>
                <button class="btn btn-success" style="margin-left: 20px; margin-bottom: 10px;" onclick="document.location='/static/activites/景點匯入範例檔案.csv'" id="download_POI_ex" >景點匯入範例檔案下載</button>
                <button class="btn btn-success" style="margin-left: 20px; margin-bottom: 10px;" onclick="Import('/ajax_dublincore');" id="imp_poi">匯入POI</button>
                <button class="btn btn-success" style="margin-left: 20px; margin-bottom: 10px;" id="exp_poi">匯出POI至CSV</button>
                <br>
                <br> 
                {% for np in no_mpeg %}{% ifchanged %}
                <div class="poi_detail">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                <a href="/poi_detail/{{np.poi_id}}">{{np.poi_title}}</a> {% if np.verification == 0 %}
                                <p style="color:#010; display:inline;" class="Unverified">(尚未驗證 /</p>
                                {% elif np.verification == 1 %}
                                <p style="color:#00F; display:inline;" class="verified">(已驗證通過 /</p>
                                {% else %}
                                <p style="color:#F00; display:inline;" class="Verification_Failed">(驗證不通過 /</p>
                                {% endif %} {% if np.open == False %}                                
                                <p style="color:#F00; display:inline;" class="private">不公開</p> / {% else %}
                                <p style="color:#00F; display:inline;" class="public-2">公開</p> / {% endif %}
                                <p style="color:#00F; display:inline;" class="none_file_1">無多媒體檔案)</p>
                                {% if coi_len > 0 %}
                                <button class="btn btn-success" data-toggle="modal" data-target="#CoiModal" data-typeid="{{np.poi_id}}" data-type="poi" style="float: right;">加入COI</button>
                                {% endif %} 
                                {% if group_list %}
                                <button class="btn btn-primary GroupModal" data-toggle="modal" data-target="#GroupModal" data-typeid="{{np.poi_id}}" data-type="poi"
                                    style="float: right; margin-right: 10px;">加入群組</button> {% endif %}
                                <button class="btn btn-danger" onclick="delete_poi('{{np.poi_id}}')" style="float: right; margin-right: 10px;">刪除</button>
                                <button class="btn btn-info" onclick="edit_poi('{{np.poi_id}}')" style="float: right; margin-right: 10px;">修改</button>
                                {% if np.verification != 0 and np.verification != 1 %}
                                <button id="feedback" class="btn btn-warning" data-toggle="modal" data-target="#FeedbackModal{{np.poi_id}}" style="float: right; margin-right: 10px;">反饋</button>
                                <div class="modal fade" id="FeedbackModal{{np.poi_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" top:20%;">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">為什麼你沒通過</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled="">{{np.feedback_mes}}</textarea>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">知道了!</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endif %}
                            </th>
                        </tr>
                    </table>
                </div>
                {% endifchanged %} {% endfor %} 
                {% for p in poi reversed%} 
                <div class="poi_detail">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                <input type="hidden" value="{{p.format}}">

                                <a href="/poi_detail/{{p.poi_id}}">{{p.poi_title}}</a>
                                {% if p.verification == 0 %}
                                <p style="color:#010; display:inline;" class="Unverified">(尚未驗證 /</p>
                                {% elif p.verification == 1 %}
                                <p style="color:#00F; display:inline;" class="verified">(已驗證通過 /</p>
                                {% else %}
                                <p style="color:#F00; display:inline;" class="Verification_Failed">(驗證不通過 /</p>
                                {% endif %} {% if p.open == False or p.open == "0" %}
                                <p style="color:#F00; display:inline;" class="private">不公開</p> / {% else %}
                                <p style="color:#00F; display:inline;" class="public-2">公開</p> / {% endif %} {% if p.format|cut:" " == '1' %}
                                <p style="color:#00F; display:inline;" class="img_1">相片)</p>
                                {% elif p.format|cut:" " == '2' %}
                                <p style="color:#00F; display:inline;" class="audio_1">聲音)</p>
                                {% elif p.format|cut:" " == '4' %}
                                <p style="color:#00F; display:inline;" class="video_1">影片)</p>
                                {% else %}
                                <p style="color:#00F; display:inline;" class="none_file_1">無多媒體檔案)</p>
                                {% endif %} {% if coi_len > 0 %}
                                <button class="btn btn-success" data-toggle="modal" data-target="#CoiModal" data-typeid="{{p.poi_id}}" data-type="poi"
                                    style="float: right;">加入COI</button>
                                {% endif %} {% if group_list %}
                                <button class="btn btn-primary GroupModal add_in_group" data-toggle="modal" data-target="#GroupModal" data-typeid="{{p.poi_id}}"
                                    data-type="poi" style="float: right; margin-right: 10px;">加入群組</button>
                                {% endif %}
                                <button class="btn btn-danger" onclick="delete_poi('{{p.poi_id}}')" style="float: right; margin-right: 10px;">刪除</button>
                                <button class="btn btn-info" onclick="edit_poi('{{p.poi_id}}')" style="float: right; margin-right: 10px;">修改</button>
                                {% if p.verification != 0 and p.verification != 1 %}
                                <button id="feedback" class="btn btn-warning" data-toggle="modal" data-target="#FeedbackModal{{p.poi_id}}" style="float: right; margin-right: 10px;">反饋</button>
                                <div class="modal fade" id="FeedbackModal{{p.poi_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" top:20%;">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">為什麼你沒通過</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled="">{{p.feedback_mes}}</textarea>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">知道了!</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endif %}
                            </th>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="loi_show col-lg-12">
                <h2 id="myLOI" style="display: inline">我的景線列表</h2>
                <button class="btn btn-success" style="margin-left: 20px; margin-bottom: 10px;" id="exp_loi">匯出LOI至CSV</button>
                <br>
                <br> {% for l in loi reversed%}
                <div class="loi_detail">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                <a href="/loi_detail/{{l.route_id}}">{{l.route_title}}</a>
                                {% if l.verification == 0 %}
                                <p style="color:#010; display:inline;" class="Unverified">(尚未驗證 /</p>
                                {% elif l.verification == 1 %}
                                <p style="color:#00F; display:inline;" class="verified">(已驗證通過 /</p>
                                {% else %}
                                <p style="color:#F00; display:inline;" class="Verification_Failed">(驗證不通過 /</p>
                                {% endif %} 
                                {% if l.open == 1 %}
                                <p style="color:#00F; display:inline;" class="public-2">公開</p>) {% else %}
                                <p style="color:#F00; display:inline;" class="private">不公開</p>) {% endif %} 

                                {% if coi_len > 0 %}
                                <button class="btn btn-success" data-toggle="modal" data-target="#CoiModal" data-typeid="{{l.route_id}}" data-type="loi"
                                    style="float: right;">加入COI</button>
                                {% endif %} {% if group_list%}
                                <button class="btn btn-primary GroupModal add_in_group" data-toggle="modal" data-target="#GroupModal" data-typeid="{{l.route_id}}"
                                    data-type="loi" style="float: right; margin-right: 10px;">加入群組</button>
                                {% endif %}
                                <button class="btn btn-danger" onclick="delete_loi('{{l.route_id}}')" style="float: right; margin-right: 10px;">刪除</button>
                                <button class="btn btn-info" onclick="edit_loi('{{l.route_id}}')" style="float: right; margin-right: 10px;">修改</button>
                                {% if l.verification != 0 and l.verification != 1 %}
                                <button id="feedback" class="btn btn-warning" data-toggle="modal" data-target="#FeedbackModal{{l.route_id}}" style="float: right; margin-right: 10px;">反饋</button>
                                <div class="modal fade" id="FeedbackModal{{l.route_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" top:20%;">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">為什麼你沒通過</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled="">{{l.feedback_mes}}</textarea>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">知道了!</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endif %}
                            </th>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="aoi_show col-lg-12">
                <h2 id="myAOI" style="display: inline">我的景區列表</h2>
                <button class="btn btn-success" style="margin-left: 20px; margin-bottom: 10px;" id="exp_aoi">匯出AOI至CSV</button>
                <br>
                <br>
                <div class="aoi_detail">
                    <br> {% for a in aoi reversed%}
                    <div class="loi_detail">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    <a href="/aoi_detail/{{a.aoi_id}}">{{a.title}}</a>
                                    {% if a.verification == 0 %}
                                    <p style="color:#010; display:inline;" class="Unverified">(尚未驗證 /</p>
                                    {% elif a.verification == 1 %}
                                    <p style="color:#00F; display:inline;" class="verified">(已驗證通過 /</p>
                                    {% else %}
                                    <p style="color:#F00; display:inline;" class="Verification_Failed">(驗證不通過 /</p>
                                    {% endif %} {% if a.open == 1 %}
                                    <p style="color:#00F; display:inline;" class="public-2">公開</p>) {% else %}
                                    <p style="color:#F00; display:inline;" class="private">不公開</p>) {% endif %} {% if coi_len > 0 %}
                                    <button class="btn btn-success" data-toggle="modal" data-target="#CoiModal" data-typeid="{{a.aoi_id}}" data-type="aoi" style="float: right;">加入COI</button>
                                    {% endif %} {% if group_list%}
                                    <button class="btn btn-primary GroupModal add_in_group" data-toggle="modal" data-target="#GroupModal" data-typeid="{{a.aoi_id}}"
                                        data-type="aoi" style="float: right; margin-right: 10px;">加入群組</button>
                                    {% endif %}
                                    <button class="btn btn-danger" onclick="delete_aoi('{{a.aoi_id}}')" style="float: right; margin-right: 10px;">刪除</button>
                                    <button class="btn btn-info" onclick="edit_aoi('{{a.aoi_id}}')" style="float: right; margin-right: 10px;">修改</button>
                                    {% if a.verification != 0 and a.verification != 1 %}
                                    <button id="feedback" class="btn btn-warning" data-toggle="modal" data-target="#FeedbackModal{{a.aoi_id}}" style="float: right; margin-right: 10px;">反饋</button>
                                    <div class="modal fade" id="FeedbackModal{{a.aoi_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" top:20%;">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">為什麼你沒通過</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled="">{{a.feedback_mes}}</textarea>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">知道了!</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {% endif %}
                                </th>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="soi_show col-lg-12">
                <h2 id="mySOI" style="display: inline;">我的主題故事列表</h2>
                <button class="btn btn-success" style="margin-left: 10px; margin-bottom: 10px;" id="exp_soi">匯出SOI至CSV</button>
                <br>
                <br>
                <div class="soi_detail">
                    <br> {% for s in soi reversed%}
                    <div class="loi_detail">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    <a href="/soi_detail/{{s.soi_id}}">{{s.soi_title}}</a> {% if s.verification == 0 %}
                                    <p style="color:#010; display:inline;" class="Unverified">(尚未驗證 /</p>
                                    {% elif s.verification == 1 %}
                                    <p style="color:#00F; display:inline;" class="verified">(已驗證通過 /</p>
                                    {% else %}
                                    <p style="color:#F00; display:inline;" class="Verification_Failed">(驗證不通過 /</p>
                                    {% endif %} {% if s.open == 1 %}
                                    <p style="color:#00F; display:inline;" class="public-2">公開</p>) {% else %}
                                    <p style="color:#F00; display:inline;" class="private">不公開</p>) {% endif %} {% if coi_len > 0 %}
                                    <button class="btn btn-success" data-toggle="modal" data-target="#CoiModal" data-typeid="{{s.soi_id}}" data-type="soi" style="float: right;">加入COI</button>
                                    {% endif %} {% if group_list%}
                                    <button id="add_in_group" class="btn btn-primary GroupModal  add_in_group" data-toggle="modal" data-target="#GroupModal"
                                        data-typeid="{{s.soi_id}}" data-type="soi" style="float: right; margin-right: 10px;">加入群組</button>
                                    {% endif %}
                                    <button class="btn btn-danger" onclick="delete_soi('{{s.soi_id}}')" style="float: right; margin-right: 10px;">刪除</button>
                                    <button class="btn btn-info" onclick="edit_soi('{{s.soi_id}}')" style="float: right; margin-right: 10px;">修改</button>
                                    {% if s.verification != 0 and s.verification != 1 %}
                                    <button id="feedback" class="btn btn-warning" data-toggle="modal" data-target="#FeedbackModal{{s.soi_id}}" style="float: right; margin-right: 10px;">反饋</button>
                                    <div class="modal fade" id="FeedbackModal{{s.soi_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" top:20%;">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">為什麼你沒通過</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled="">{{s.feedback_mes}}</textarea>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">知道了!</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {% endif %}
                                </th>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <div id="GroupModal" class="modal fade" role="dialog" style="margin-top: 300px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <select id="group_list">
                        {% for g in group_list %}
                        <option value="{{g.foreignkey.group_id}}">{{g.foreignkey.group_name}}</option>
                        {% endfor%}
                    </select>
                    <button id="make_player_join" class="btn btn-success" onclick="PutGroups()">加入</button>
                    <input type="text" name="modal-typeid" id="all_ids" hidden>
                    <input type="text" name="modal-type" id="all_types" hidden>
                </div>
            </div>
        </div>
    </div>

    <div id="CoiModal" class="modal fade" role="dialog" style="margin-top: 300px">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Coi列表</h5>
                </div>
                <div class="modal-body">
                    <ul id=coi_list style="padding-left:0px; cursor: pointer;">
                        {% for c in coi_list %}
                        <li class="list-group-item coi-list-item active" value={{1}} check={{1}}>
                            <span class="glyphicon glyphicon-minus" aria-hidden="true" style="padding-right:5px">{{c}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="exportList()">加入</button>
                </div>
                <input type="text" name="modal-typeid" id="coi_list_ids" hidden>
                <input type="text" name="modal-type" id="coi_list_types" hidden>
            </div>
        </div>
    </div>

    <div id="loading" hidden>
        <img src="../static/images/loading.gif" style="position: fixed; display: block; top:40%; right: 50%;">
    </div>

    <table id="exl_poi" class="table table-striped" cellspacing="0" width="100%" style="display: none;">
        <thead>
            <tr>
                <th id="poi_title-1">POI 標題</th>
                <th id="Subject-1">主題</th>
                <th class="Region-1">地區</th>
                <th id="Type-1">類型</th>
                <th id="docent_period">時期</th>
                <th id="year-1">年份</th>
                <th id="keyword-2">關鍵字1</th>
                <th id="keyword-3">關鍵字2</th>
                <th id="keyword-4">關鍵字3</th>
                <th id="keyword-5">關鍵字4</th>
                <th id="docent_address">地址</th>
                <th id="docent_lati">緯度</th>
                <th id="docent_long">經度</th>
                <th class="description">描述</th>
                <th id="Format-1">範疇</th>
                <th id="docent_source">參考來源</th>
                <th id="creator-1">參考來源作者</th>
                <th id="publisher-1">參考來源出版者</th>
                <th id="contributor-1">景點製作貢獻者</th>
                <th class="public-1">公開</th>
                <th id="Picture-1">圖片一</th>
                <th id="Picture-2">圖片二</th>
                <th id="Picture-3">圖片三</th>
                <th id="Picture-4">圖片四</th>
                <th id="Picture-5">圖片五</th>
                <th id="video">影片</th>
                <th id="audio">聲音</th>
            </tr>
        </thead>
        <tbody id="table_orders">
            {% for p in export_poi_list %}
            <tr>
                <td>{{p.poi_title}}</td>
                <td>{{p.subject}}</td>
                <td>{{p.area_name_en}}</td>
                <td>{{p.type1}}</td>
                <td>{{p.period}}</td>
                <td>{{p.year}}</td>
                <td>{{p.keyword1}}</td>
                <td>{{p.keyword2}}</td>
                <td>{{p.keyword3}}</td>
                <td>{{p.keyword4}}</td>
                <td>{{p.poi_address}}</td>
                <td>{{p.latitude}}</td>
                <td>{{p.longitude}}</td>
                <td>{{p.poi_description_1}}</td>
                <td>{{p.format}}</td>
                <td>{{p.poi_source}}</td>
                <td>{{p.creator}}</td>
                <td>{{p.publisher}}</td>
                <td>{{p.contributor}}</td>
                <td>{{p.open}}</td>
                <td>{{p.picture1}}</td>
                <td>{{p.picture2}}</td>
                <td>{{p.picture3}}</td>
                <td>{{p.picture4}}</td>
                <td>{{p.picture5}}</td>
                <td>{{p.video}}</td>
                <td>{{p.audio}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="exl_loi" class="table table-striped" cellspacing="0" width="100%" style="display: none;">
        <thead>
            <tr>
                <th id="loi_title-1">LOI 標題</th>
                <th class="Region-1">地區</th>
                <th class="description">描述</th>
                <th id="loi_contributor">景線製作貢獻者</th>
                <th class="tool">交通工具</th>
                <th class="public-1">公開</th>
                <th id="LOI_account">該LOI擁有者帳號</th>
                <th class="export_language">語言</th>
                <th >內含POIs : </th>
            </tr>
        </thead>
        <tbody id="table_orders">
            {% for l in loi %}
            <tr>
                <td>{{l.route_title}}</td>
                <td>{{l.area_name_en}}</td>
                <td>{{l.route_description}}</td>
                <td>{{l.contributor}}</td>
                <td>{{l.transportation}}</td>
                <td>{{l.open}}</td>
                <td>{{l.route_owner}}</td>
                <td>{{l.language}}</td>
            
                
                {% for s in sequence %}
                    {% if l.route_id == s.foreignkey.route_id and s.poi_id %}
                        <td>{{s.poi_id.poi_title}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="exl_aoi" class="table table-striped" cellspacing="0" width="100%" style="display: none;">
        <thead>
            <tr>
                <th id="aoi_title-1">AOI 標題</th>
                <th class="Region-1">地區</th>
                <th class="description">描述</th>
                <th id="aoi_contributor">景區製作貢獻者</th>
                <th class="tool">交通工具</th>
                <th class="public-1">公開</th>
                <th id="AOI_account">該AOI擁有者帳號</th>
                <th class="export_language">語言</th>
                <th >內含POIs : </th>
            </tr>
        </thead>
        <tbody id="table_orders">
            {% for a in aoi %}
            <tr>
                <td>{{a.title}}</td>
                <td>{{a.area_name_en}}</td>
                <td>{{a.description}}</td>
                <td>{{a.contributor}}</td>
                <td>{{a.transportation}}</td>
                <td>{{a.open}}</td>
                <td>{{a.owner}}</td>
                <td>{{a.language}}</td>


                {% for ap in aoipoi %}
                    {% if a.aoi_id == ap.aoi_id_fk.aoi_id and ap.poi_id %}
                        <td>{{ap.poi_id.poi_title}}</td>
                    {% endif %}
                {% endfor %}
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <table id="exl_soi" class="table table-striped" cellspacing="0" width="100%" style="display: none;">
        <thead>
            <tr>
                <th id="soi_title-1">SOI 標題</th>
                <th class="Region-1">地區</th>
                <th class="description">描述</th>
                <th id="soi_contributor">主題故事製作貢獻者</th>
                <th class="public-1">公開</th>
                <th id="SOI_account">該SOI擁有者帳號</th>
                <th class="export_language">語言</th>
            </tr>
        </thead>
        <tbody id="table_orders">
            {% for s in soi %}
            <tr>
                <td>{{s.soi_title}}</td>
                <td>{{s.area_name_en}}</td>
                <td>{{s.soi_description}}</td>
                <td>{{s.contributor}}</td>
                <td>{{s.open}}</td>
                <td>{{username}}</td>
                <td>{{s.language}}</td>
            </tr>
            <tr>
                <td>內含POIs:</td>
                {% for sl in soi_list %}
                    {% if s.soi_id == sl.soi_id_fk.soi_id %}
                        <td>{{sl.poi_id.poi_title}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>內含LOIs:</td>
                {% for sl in soi_list %}
                    {% if s.soi_id == sl.soi_id_fk.soi_id %}
                        <td>{{sl.loi_id.route_title}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>內含AOIs:</td>
                {% for sl in soi_list %}
                    {% if s.soi_id == sl.soi_id_fk.soi_id %}
                        <td>{{sl.aoi_id.title}}</td>
                    {% endif %}
                {% endfor %}
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% load static %}
    <script src="{% static 'js/make_player.js' %}"></script>
    <script src="{% static 'js/huge_import_poi.js' %}"></script>
    <script type="text/javascript">
        is_edit = false;
    </script>
</body>

</html>