{% include 'header.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <h1 class="page-header">
                <img src="../static/images/logo.png">
            </h1>
            <div class="col-lg-6" style="height: 400px;">
                <h2 id="title-1" class="page-header" style="display: inline; font-weight: 700;">標題</h2>
                <h3 id="soi_title" style="display: inline; color: #0E7771; margin-left: 20px;">{{soi.soi_title}}</h3>
                <div style = "float : right; ">
                    <h7 style = "background-color : #f0ad4e;border-color: #eea236;border-radius: 4px;color : #fff; border: 1px solid; padding: 6px 12px"><span id="webViewNumber">WEB瀏覽次數</span> : {{all_soi_web_count}}</h7>
                    <h7 style = "background-color : #d9534f;border-color: #eea236;border-radius: 4px;color : #fff; border: 1px solid; padding: 6px 12px"><span id="appViewNumber">APP瀏覽次數</span> : {{all_soi_api_count}}</h7>
                    <h7 style = "background-color : #5bc0de;border-color: #eea236;border-radius: 4px;color : #fff; border: 1px solid; padding: 6px 12px"><span id="totalViewNumber">瀏覽總數</span> : {{all_soi_count}}</h7>
                </div>
                <input id="back" type=button class="btn btn-link" value="返回上一頁" onClick="javascript:history.go(-1);">
                <hr>
                <h4 id="soi_description " style="margin-top:10px; overflow-y: scroll; height: 300px;">{{soi.soi_description}}</h4>
                <hr>
            </div>
            <div class="col-lg-6" id="HereMap" style="width: 50%; height: 400px"></div>
            <div class="col-lg-6" style="height: 400px;">
                {% if soi.identifier == 'docent' %}
                <table class="table table-hover">
                    <tr>
                        <th id="docent_info-1">導覽員資訊</th>
                        <td>
                            <button type="button" class="choose_loi" style="margin-botton:0px; font-size:15px;" data-toggle="modal" data-target="#docent_modal">{{soi_docent.name}}</button>
                        </td>
                    </tr>
                </table>
                {% endif %}
                <table class="table table-hover">
                    <tr>
                        <th id="soi_contributor">主題故事製作貢獻者</th>
                        <td>{{soi.contributor}}</td>
                    </tr>
                </table>
                <div id="arrange_result"></div>
                <p id="poi_count" hidden>{{poi_count}}</p>
                {% for p in all_poi %}
                <p id="p_lati_{{ forloop.counter0 }}" hidden>{{p.latitude}}</p>
                <p id="p_long_{{ forloop.counter0 }}" hidden>{{p.longitude}}</p>
                <p id="p_loca_{{ forloop.counter0 }}" hidden>{{p.address}}</p>
                {% endfor %}{% for p in soi_list %} {% if p.poi_id %}
                <table class="table table-hover" id="poi_table{{forloop.counter0}}">
                    <tr>
                        {% if p.poi_id.open|cut:" " == '1' or p.poi_id.identifier == "docent" or p.poi_id.rights == username%} 
                            {% if p.poi_id.verification == 1 or p.poi_id.rights == username%}
                                <th><a id="title_{{ forloop.counter0 }}" href="/poi_detail/{{p.poi_id.poi_id}}">{{p.poi_id.poi_title}}</a>(景點)</th>
                                <!-- <th hidden><a id="p_loca_{{ forloop.counter0 }}" href="#">{{p.poi_id.poi_address}}</a></th> -->
                            {% else %}
                                <th><a id="title_{{ forloop.counter0 }}" data-toggle="modal" href="#soi_unverification_modal">{{p.poi_id.poi_title}}</a>(景點)</th>
                                <!-- <th hidden><a id="loca_{{ forloop.counter0 }}" href="#">{{p.poi_id.poi_address}}</a></th> -->
                            {% endif %} 
                        {% else %}
                        <th><a id="title_{{ forloop.counter0 }}" data-toggle="modal" href="#soi_modal">{{p.poi_id.poi_title}}</a>(景點)</th>
                        <!-- <th hidden><a id="p_loca_{{ forloop.counter0 }}" href="#">{{p.poi_id.poi_address}}</a></th> -->
                        {% endif %}
                    </tr>
                </table>
                {% endif %} {% endfor %}
                <div class="modal fade" id="soi_unverification_modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p>此景點/景線/景區尚未驗證或驗證不通過</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="soi_modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p>此為私有景點/景線/景區，請洽製作景點之導覽解說員</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="loi_count" hidden>{{loi_count}}</p>
                {% for lp in loi_poi %}
                <p id="l_lati_{{ forloop.counter0 }}" hidden>{{lp.poi_id.latitude}}</p>
                <p id="l_long_{{ forloop.counter0 }}" hidden>{{lp.poi_id.longitude}}</p>
                <p id="l_loca_{{ forloop.counter0 }}" hidden>{{lp.poi_id.poi_address}}</p>
                {% endfor %} {% for l in soi_list %} {% if l.loi_id %}
                <table class="table table-hover" id="loi_table{{forloop.counter0}}">
                    <tr>
                        {% if l.loi_id.open == True or l.loi_id.identifier == "docent" or l.loi_id.route_owner == username %}
                            {% if l.loi_id.verification == 1 or l.loi_id.route_owner == username %}
                            <th><a id="l_title_{{ forloop.counter0 }}" href="/loi_detail/{{l.loi_id.route_id}}">{{l.loi_id.route_title}}</a>(景線)</th>
                            {% else %}
                            <th><a id="l_title_{{ forloop.counter0 }}" data-toggle="modal" href="#soi_unverification_modal">{{l.loi_id.route_title}}</a>(景線)</th>
                            {% endif %}
                        {% else %}
                            <th><a id="l_title_{{ forloop.counter0 }}" data-toggle="modal" href="#soi_modal">{{l.loi_id.route_title}}</a>(景線)</th>
                        {% endif %}
                    </tr>
                </table>
                {% endif %} {% endfor %}
                <p id="aoi_count" hidden>{{aoi_count}}</p>
                {% for ap in aoi_poi %}
                <p id="a_lati_{{ forloop.counter0 }}" hidden>{{ap.poi_id.latitude}}</p>
                <p id="a_long_{{ forloop.counter0 }}" hidden>{{ap.poi_id.longitude}}</p>
                <p id="a_loca_{{ forloop.counter0 }}" hidden>{{ap.poi_id.poi_address}}</p>
                {% endfor %} {% for a in soi_list %} {% if a.aoi_id %}
                <table class="table table-hover" id="aoi_table{{forloop.counter0}}">
                    <tr>
                        {% if a.aoi_id.open == True or a.aoi_id.identifier == "docent" or a.aoi_id.owner %}
                            {% if a.aoi_id.verification == 1 or a.aoi_id.owner == username %}
                            <th><a id="title_{{ forloop.counter0 }}" href="/aoi_detail/{{a.aoi_id.aoi_id}}">{{a.aoi_id.title}}</a>(景區)</th>
                            <!-- <th hidden><a id="loca_{{ forloop.counter0 }}" href="#">{{a.aoi_id.address}}</a></th> -->
                            {% else %}
                            <th><a id="title_{{ forloop.counter0 }}" data-toggle="modal" href="#soi_unverification_modal">{{a.aoi_id.title}}</a>(景區)</th>
                            <!-- <th hidden><a id="loca_{{ forloop.counter0 }}" href="#">{{a.aoi_id.address}}</a></th> -->
                            {% endif%}
                        {% else %}
                        <th><a id="title_{{ forloop.counter0 }}" data-toggle="modal" href="#soi_modal">{{a.aoi_id.title}}</a>(景區)</th>
                        <!-- <th hidden><a id="loca_{{ forloop.counter0 }}" href="#">{{a.aoi_id.address}}</a></th> -->
                        {% endif %}
                    </tr>
                </table>
                {% endif %} {% endfor %}
            </div>
        </div>
        <div class="modal fade" id="docent_modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="name" style="display: inline;">姓名:</p>{{soi_docent.name}}</p>
                        <p id="telphone" style="display: inline;">電話:</p>{{soi_docent.telphone}}</p>
                        <p id="cellphone" style="display: inline;">手機:</p>{{soi_docent.cellphone}}</p>
                        <p>email:{{info.email}}</p>
                        <p id="social_id" style="display: inline;">FB/LINE或其他帳號:</p>{{soi_docent.social_id}}</p>
                        <p id="user_address" style="display: inline;">地址:</p>{{info.user_address}}</p>
                        <p id="docent_language" style="display: inline;">導覽解說使用語言:</p>{{soi_docent.docent_language}}</p>
                        <p id="charge" style="display: inline;">收費標準:</p>{{soi_docent.charge}}</p>
                        <p id="docent_intro" style="display: inline;">自我介紹:</p>{{soi_docent.introduction}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        var type_arr = "{{xoi_type}}";
        type_arr = JSON.parse(type_arr); //string to array
        var last_append = 0;
        var poi_idx = 0;
        var loi_idx = 0;
        var aoi_idx = 0;
        var arrange_result = document.getElementById('arrange_result');
        for (var i = 0; i < type_arr.length; i++) {
            if (type_arr[i] == 1) { //loi
                if (i == 0) {
                    $('#loi_table' + i).appendTo('#arrange_result');
                } else {
                    if (last_append == 0) {
                        $('#loi_table' + i).insertAfter($('#poi_table' + (i - 1)));
                    } else if (last_append == 2) {
                        $('#loi_table' + i).insertAfter($('#aoi_table' + (i - 1)));
                    } else {
                        $('#loi_table' + i).insertAfter($('#loi_table' + (i - 1)));
                    }
                }
                loi_idx++;
            } else if (type_arr[i] == 2) { //aoi
                if (i == 0) {
                    $('#aoi_table' + i).appendTo('#arrange_result');
                } else {
                    if (last_append == 0) {
                        $('#aoi_table' + i).insertAfter($('#poi_table' + (i - 1)));
                    } else if (last_append == 2) {
                        $('#aoi_table' + i).insertAfter($('#aoi_table' + (i - 1)));
                    } else {
                        $('#aoi_table' + i).insertAfter($('#loi_table' + (i - 1)));
                    }
                }
                aoi_idx++;
            } else if (type_arr[i] == 0) { //poi
                if (i == 0) {
                    $('#poi_table' + i).appendTo('#arrange_result');
                } else {
                    if (last_append == 0) {
                        $('#poi_table' + i).insertAfter($('#poi_table' + (i - 1)));
                    } else if (last_append == 2) {
                        $('#poi_table' + i).insertAfter($('#aoi_table' + (i - 1)));
                    } else {
                        $('#poi_table' + i).insertAfter($('#loi_table' + (i - 1)));
                    }
                }
                poi_idx++
            }
            last_append = type_arr[i];
        }
    });

    function SoiMap() {
        // is_edit = false;
        function placeMarker(location) {
            
            var pngIcon = new H.map.Icon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i + 1) + '|FE6256|000000');
            var marker = new H.map.Marker(location, { icon: pngIcon });
            map.addObject(marker);
            map.setCenter(location);
            map.setZoom(10);
        }
        var title = $("#aoi_title").text();
        var p_count = parseFloat($("#poi_count").text());
        var l_count = parseFloat($("#loi_count").text());
        var a_count = parseFloat($("#aoi_count").text());
        var locations = [];
        p_conf_lati = parseFloat($("#p_lati_" + 0).text()); //第一個poi經緯度
        p_conf_long = parseFloat($("#p_long_" + 0).text());
        for (var i = 0; i < p_count; i++) {
            try{
                p_loca = $("#p_loca_" + i).text();
                p_lati = parseFloat($("#p_lati_" + i).text()); //各點poi經緯度
                p_long = parseFloat($("#p_long_" + i).text());
                locations.push([p_loca, p_lati, p_long]);
            }catch(err){
                console.log("No POIs");
            }
            
        }
        for (var i = 0; i < l_count; i++) {
            try{
                l_conf_lati = parseFloat($("#l_lati_" + 0).text()); //第一個loi經緯度
                l_conf_long = parseFloat($("#l_long_" + 0).text());
                l_loca = $("#l_loca_" + i).text();
                l_lati = parseFloat($("#l_lati_" + i).text());
                l_long = parseFloat($("#l_long_" + i).text());
                locations.push([l_loca, l_lati, l_long]);
            }catch(err){
                console.log("No LOIs");
            }
            
        }
        for (var i = 0; i < a_count; i++) {
            try{
                a_loca = $("#a_loca_" + i).text();
                a_lati = parseFloat($("#a_lati_" + i).text());
                a_long = parseFloat($("#a_long_" + i).text());
                locations.push([a_loca, a_lati, a_long]);
            }catch(err){
                console.log("No AOIs");
            }
            
        }
        if (!p_count) {
            if (l_count) {
                p_conf_lati = parseFloat($("#l_lati_" + 0).text());
                p_conf_long = parseFloat($("#l_long_" + 0).text());
            } else {
                p_conf_lati = parseFloat($("#a_lati_" + 0).text());
                p_conf_long = parseFloat($("#a_long_" + 0).text());
            }
        }
        // try{
        //     var map = new google.maps.Map(document.getElementById('googleMap'), {
        //         zoom: 10,
        //         center: new google.maps.LatLng(p_conf_lati, p_conf_long),
        //         mapTypeId: google.maps.MapTypeId.ROADMAP
        //     });
        // }catch(err){
        //     var map = new google.maps.Map(document.getElementById('googleMap'), {
        //         zoom: 10,
        //         center: new google.maps.LatLng(l_conf_lati, l_conf_long),
        //         mapTypeId: google.maps.MapTypeId.ROADMAP
        //     });
        // }

        // Create a Platform object:
        var platform = new H.service.Platform({
            'apikey': 'KltNt3WCaOrzMwVN4GmggfYufT5-vA3E7Xx3Ocq2ASg'
        });

        // Get an object containing the default map layers:
        var defaultLayers = platform.createDefaultLayers({lg:'cht'});

        // Instantiate the map using the vecor map with the
        // default style as the base layer:
        var map = new H.Map(
            document.getElementById('HereMap'),
            defaultLayers.raster.normal.map, {
                zoom: 10,
                center: { lat: 23.5, lng: 121.120850 },
                pixelRatio: window.devicePixelRatio || 1
            });

        // Enable the event system on the map instance:
        var mapEvents = new H.mapevents.MapEvents(map);


        // Instantiate the default behavior, providing the mapEvents object: 
        var behavior = new H.mapevents.Behavior(mapEvents);

        // Create the default UI:
        var ui = H.ui.UI.createDefault(map, defaultLayers, 'zh-CN')

        // var infowindow = new google.maps.InfoWindow();
        // var marker;
        // for (var i = 0; i < (p_count + l_count + a_count); i++) {
        //     if (i < p_count) { //poi
        //         var icon_type = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i + 1) + '|FE6256|000000';
        //     } else if (i >= p_count && i < p_count + l_count) {
        //         var icon_type = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i + 1) + '|58ABFE|000000';
        //     } else {
        //         var icon_type = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i + 1) + '|1AFD9C|000000';
        //     }
        //     marker = new google.maps.Marker({
        //         position: new google.maps.LatLng(locations[i][1], locations[i][2], locations[i][3]),
        //         map: map,
        //         icon: icon_type
        //     });
        //     //console.log(locations);
        //     google.maps.event.addListener(marker, 'click', (function(marker, i) {
        //         return function() {
        //             infowindow.setContent(locations[i][0]);
        //             infowindow.open(map, marker);
        //         }
        //     })(marker, i));
        // }
        for (var i = 0; i < (p_count + l_count + a_count); i++) {
            placeMarker({lat:locations[i][1], lng:locations[i][2]})
        }
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqPYQN7x5wDi_hOIoS0DiOHSC4i66IcDY&callback=SoiMap"></script>
    <script src=" ../static/js/navi.js "></script>
</body>

</html>
