{% include 'header.html' %}

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <h1 class="page-header">
                <img src="../static/images/logo.png">
            </h1>
            <!-- <h1><a href="/player" id="aoi_list-2">景區列表</a></h1> -->
            <div class="col-lg-6" style="height: 400px;">
                <h2 id="title-1" class="page-header" style="display: inline; font-weight: 700;">標題</h2>
                <h3 id="aoi_title" style="display: inline; color: #0E7771; margin-left: 20px;">{{aoi.title}}</h3>
                <div style = "float : right; ">
                    <h7 style = "background-color : #f0ad4e;border-color: #eea236;border-radius: 4px;color : #fff; border: 1px solid; padding: 6px 12px"><span id="webViewNumber">WEB瀏覽次數</span> : {{all_aoi_web_count}}</h7>
                    <h7 style = "background-color : #d9534f;border-color: #eea236;border-radius: 4px;color : #fff; border: 1px solid; padding: 6px 12px"><span id="appViewNumber">APP瀏覽次數</span> : {{all_aoi_api_count}}</h7>
                    <h7 style = "background-color : #5bc0de;border-color: #eea236;border-radius: 4px;color : #fff; border: 1px solid; padding: 6px 12px"><span id="totalViewNumber">瀏覽總數</span> : {{all_aoi_count}}</h7>
                </div>
                <input id="back" type=button class="btn btn-link" value="返回上一頁" onClick="javascript:history.go(-1);">
                <hr>
                <h4 id="aoi_description" style="margin-top:10px; overflow-y: scroll; height: 300px;">{{aoi.description}}</h4>
                <hr>
            </div>
            <div class="col-lg-6" id="HereMap" style="width: 50%; height: 400px"></div>
            <div class="col-lg-6" style="height: 400px;">
                {% if aoi.identifier == 'docent' %}
                <table class="table table-hover">
                    <tr>
                        <th id="docent_info-1">導覽員資訊</th>
                        <td>
                            <button type="button" class="choose_loi" style="margin-botton:0px; font-size:15px;" data-toggle="modal" data-target="#docent_modal">{{aoi_docent.name}}</button>
                        </td>
                    </tr>
                </table>
                {% elif aoi.identifier == 'user' %}
                <table class="table table-hover">
                    <tr>
                        <th class="aoi_contributor">景區製作貢獻者</th>
                        <td>{{aoi.contributor}}</td>
                    </tr>
                </table>
                {% endif %}
                <h4 id="poi_list-1">POI 列表</h4>
                <p id="poi_count" hidden>{{aoipoi.count}}</p>
                {% for p in aoipoi %}
                <p id="p_lati_{{ forloop.counter0 }}" hidden>{{p.poi_id.latitude}}</p>
                <p id="p_long_{{ forloop.counter0 }}" hidden>{{p.poi_id.longitude}}</p>
                <table class="table table-hover">
                    <tr>
                        {% if p.poi_id.open|cut:" " == '1' or p.poi_id.identifier == "docent" or p.poi_id.rights == username %}
                        {% if p.poi_id.verification == 1 or p.poi_id.rights == username %}
                        <th>
                            <a id="p_title_{{ forloop.counter0 }}" href="/poi_detail/{{p.poi_id.poi_id}}">{{p.poi_id.poi_title}}</a>
                        </th>
                        <th hidden>
                            <a id="p_loca_{{ forloop.counter0 }}" href="#">{{p.poi_id.poi_address}}</a>
                        </th>
                        {% else %}
                        <th>
                            <a id="title_{{ forloop.counter0 }}" data-toggle="modal" href="#aoi_unverification_modal">{{p.poi_id.poi_title}}</a>
                        </th>
                        <th hidden>
                            <a id="loca_{{ forloop.counter0 }}" href="#">{{p.poi_id.poi_address}}</a>
                        </th>
                        {% endif%} {% else %}
                        <th>
                            <a id="p_title_{{ forloop.counter0 }}" data-toggle="modal" href="#aoi_modal">{{p.poi_id.poi_title}}</a>
                        </th>
                        <th hidden>
                            <a id="p_loca_{{ forloop.counter0 }}" href="#">{{p.poi_id.poi_address}}</a>
                        </th>
                        {% endif %}
                    </tr>
                </table>
                {% endfor %}
                <div class="modal fade" id="aoi_unverification_modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p>此景點未驗證</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="aoi_modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p>此為私有景點，請洽製作景點之導覽解說員</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="docent_modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <p id="name" style="display: inline;">姓名:</p>{{aoi_docent.name}}</p>
                                <p id="telphone" style="display: inline;">電話:</p>{{aoi_docent.telphone}}</p>
                                <p id="cellphone" style="display: inline;">手機:</p>{{aoi_docent.cellphone}}</p>
                                <p>email:{{info.email}}</p>
                                <p id="social_id" style="display: inline;">FB/LINE或其他帳號:</p>{{aoi_docent.social_id}}</p>
                                <p id="user_address" style="display: inline;">地址:</p>{{info.user_address}}</p>
                                <p id="docent_language" style="display: inline;">導覽解說使用語言:</p>{{aoi_docent.docent_language}}</p>
                                <p id="charge" style="display: inline;">收費標準:</p>{{aoi_docent.charge}}</p>
                                <p id="docent_intro" style="display: inline;">自我介紹:</p>{{aoi_docent.introduction}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function placeMarker(location) {
            //map.removeObjects(map.getObjects());
            var marker = new H.map.Marker(location);
            map.addObject(marker);
            map.setCenter(location);
            map.setZoom(12);
        }

        // Create a Platform object:
        var platform = new H.service.Platform({
            'apikey': 'KltNt3WCaOrzMwVN4GmggfYufT5-vA3E7Xx3Ocq2ASg'
        });

        // Get an object containing the default map layers:
        var defaultLayers = platform.createDefaultLayers({lg:'cht'});

        // Instantiate the map using the vecor map with the
        // default style as the base layer:
        var map = new H.Map(
            document.getElementById('HereMap'),
            defaultLayers.raster.normal.map, {
                zoom: 10,
                center: { lat: 23.5, lng: 121.120850 },
                pixelRatio: window.devicePixelRatio || 1
            });

        // Enable the event system on the map instance:
        var mapEvents = new H.mapevents.MapEvents(map);


        // Instantiate the default behavior, providing the mapEvents object: 
        var behavior = new H.mapevents.Behavior(mapEvents);

        // Create the default UI:
        var ui = H.ui.UI.createDefault(map, defaultLayers, 'zh-CN')

        var title = $("#aoi_title").text();
        var p_count = parseFloat($("#poi_count").text());
        console.log(p_count);
        var locations = [];
        for (var i = 0; i < p_count; i++) {
            p_loca = $("#p_loca_" + i).text();
            p_conf_lati = parseFloat($("#p_lati_" + 0).text());
            p_conf_long = parseFloat($("#p_long_" + 0).text());
            p_lati = parseFloat($("#p_lati_" + i).text());
            p_long = parseFloat($("#p_long_" + i).text());
            locations.push([p_loca, p_lati, p_long]);
        }
        for (var i = 0; i < p_count; i++) {
            placeMarker({lat:locations[i][1], lng:locations[i][2]})
        }
        
    </script>
    <script src=" ../static/js/navi.js "></script>
</body>

</html>